/* ======= BOXOUTS ======= */

.cl-boxout * {
    box-sizing: border-box;
}

.cl-boxout {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: $maxcardwidth;
    padding: 6% 5% !important;
    background: #eee; //#e5ebf4;
    border-radius: 2px;
    box-shadow: inset 0 .15rem .2rem rgba(0,0,0,.06);
    border-bottom: 1px solid #fff;
    //color: $black !important;
    transition: width .2s ease-in-out;
}

@media screen and (min-width: $break1) {
    .cl-boxout {
        width: 300px;
        padding: 20px !important;
    }
    .cl-boxout.left {
        float: left;
        margin: 0 2rem 2rem 0;
    }
    .cl-boxout.right {
        float: right;
        margin: 0 0 2rem 2rem;
    }
}


@media screen and (min-width: $maxcardwidth) {
    .cl-boxout {
        
    }
}
    
.cl-tiles {
    .cl-boxout {
        margin-bottom: 1rem;
        display: block;
    }
    &>*>.cl-boxout {
        width: 100%;
    }
    .cl-boxout:not(:first-child) {
        margin-top: 1.5rem;
    }
}

.cl-boxout img {
    width: 100%;
    margin: 1.2rem 0 !important;
    border-radius: 2px;
}

.cl-boxout img:first-child {
    margin-top: 0 !important;
}

.cl-boxout p {
    font-size: 1rem !important;
    width: 100% !important;
}