/* ======= BOXOUTS ======= */


.cl-boxout {

    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 6% 5%;
    margin: 0 0 2rem;
    background: #efefef;

	* {
		box-sizing: border-box;
	}

	img {
		width: 100%;
	}

  .cl-button:hover,
  .cl-button:focus {
      cursor: pointer;
  }

}

.cl-breakout .cl-boxout {
  background: #e5e5e5;
}

@media screen and (min-width: $break1) {
    .cl-boxout {

        padding: 20px;

		&.left {
			float: left;
			margin: 0 2rem 2rem 0;
			max-width: $maxcardwidth;
		}

		&.right {
			float: right;
			margin: 0 0 2rem 2rem;
			max-width: $maxcardwidth;
		}

	}
}
