/* ======= BUTTONS ======= */

a.cl-button,
span.cl-button {

	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 1rem;
	max-width: $maxcardwidth;
	width: 100%;
	background: $white;
	border: 1px solid $grey;
	line-height: normal;
	text-align: center;
	color: $black;
	text-decoration: none;

  * {
      box-sizing: border-box;
  }

  &.prominent {
      background: $black;
      color: $white;
      border: none;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
      background: rgba(0,0,0,.05);
      color: rgba(0,0,0,.4);
      border: 1px solid rgba(0,0,0,.05);
      cursor: default;
  }

  &:hover,
  &:focus {
      background: $link;
      border: 1px solid $link;
      color: $white;
  }

  &.prominent:hover,
  &.prominent:focus {
      background: $link;
      border: none;
      color: $white;
  }

}
