/* ======= BUTTONS ======= */


a.button {
    display: block !important;
}

.cols>div,
.tiles>div,
.boxout,
.panel,
.hero {

    a.button {
        margin: 1.2rem 0;
        padding: calc(1% + 1em) 0;
        width: 100%;
        background: $white;
        border: 1px solid $grey;
        font-size: .7rem;
        font-weight: 700;
        letter-spacing: .1rem;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        color: $blue;
        text-decoration: none;
        transition: all .2s ease-in-out;
        text-shadow: none;
    }
    
    a.button.prominent {
        background: linear-gradient(315deg, $blue, $midblue);
        color: $white;
        border: none;
        padding: calc(1% + 1.09em) 0;
    }
    
    a.button:last-child {
        margin-bottom: 0;
    }
    
    a.button:hover,
    a.button:focus {
        background: $blue;
        border: 1px solid $blue;
        color: $white;
        transition: all .1s;
    }
    
    a.button.prominent:hover,
    a.button.prominent:focus {
        background: linear-gradient(315deg, $darkblue, $blue);
        border: none;
    }
    
}

.hero {
    a.button {
        margin-top: 2rem;
        padding: 1rem 0;
        max-width: 300px;
        border-color: $white;
        box-shadow: $level3;
        position: relative;
        top: 0;
    }

    a.button:hover,
    a.button:focus {
        background: $white;
        border-color: $white;
        color: $blue;
        top: -3px;
    }
}

.boxout,
.panel {
    a.button {
        border-radius: 2px;
    }
}

@media screen and (min-width: $break1) {
    
    .cols>div a.button {
        width: 45%;
    }
    
}

@media screen and (min-width: $break2) {
    
    .cols>div,
    .boxout {
        
        a.button {
            width: 100%;
        }
        
    }
    
}