/* ======= CARDS ======= */

.circle-card{
   padding: 1em 1em;
   display: flex!important;
}

.cl-card#circle{
   overflow: visible;
}

.circle-card-img{
   width: 60%;
   height: auto;
   padding-top: 58%; 
   border-radius: 50%;
   border: 2px solid #002E5F;
   margin: -4em auto 2em;
   background-position:center;
	 background-repeat:no-repeat;
	 background-size:cover;
   overflow: hidden;
}

.circle-card-content{
   margin: 0 1em 1.7rem;
}

.circle-card-content h2{
  margin: 1em auto;
  justify-items: center;
  line-height: 32px!important;
  color: #002E5F;
  line-height: 2rem;
}

.card-highlight{
  font-family: Hind, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.circle-card-content p{
  font-family: Hind, Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

.circle-card-content a{
  color: #000;
}

.circle-card-content p#eyebrow{
   font-family: Hind, Arial, sans-serif;
   color: #002E5F;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight:600;
   letter-spacing: 2px;
   margin-bottom: 0;
}

.circle-card-content hr#liner{
   background-color: #002e5f;
   width: 50px;
   height: 2px;
   margin-top: 0;
   padding-top: 0;
}

@media screen and (min-width:250px) and (max-width:480px) {
    .circle-card{
       grid-template-columns: repeat(1,1fr);
       margin: 0 auto;
       padding: 0 0 1em;
    }
  
  /* ADD TO MODERN & MAGAZINE */
  .circle-card-content p#eyebrow{
      font-size: .80rem;
  }
  
}

@media screen and (min-width:250px) and (max-width:800px) {
    .circle-card:nth-child(2){
       padding-top: 6em;
    }
}