/* ======= CARDS ======= */

$cards: ".cl-card, .cl-dcard, .cl-scard";
$adcards: ".cl-card, .cl-dcard";

#{$cards} {

    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 2rem;
    background: $white;
    box-shadow: $level1;
    box-sizing: border-box;
    color: inherit;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transform: translateY(0);
    transition: width .2s ease-in-out, transform .1s ease-in-out, box-shadow .1s ease-in-out;

	* {
        box-sizing: border-box;
    }

}

@media screen and (min-width: $break1) {
    #{$cards} {
        &.left {
            float: left;
            margin: 0 2rem 2rem 0;
            max-width: $maxcardwidth;
        }
        &.right {
            float: right;
            margin: 0 0 2rem 2rem;
            max-width: $maxcardwidth;
        }
    }
}

#{$adcards} {

    &:hover,
    &:focus {
        box-shadow: $level2;
        cursor: pointer;
        color: inherit;
    }

    &::not(.cl-card-theatre) {
      &:hover,
      &:focus {
        transform: translateY(-2px);
      }
    }

    &:active {
        box-shadow: $level3;
        color: inherit;
    }

}

.cl-card .cl-card-text,
.cl-tiles .cl-card .cl-card-text,
.cl-scard .cl-scard-text,
.cl-tiles .cl-scard .cl-scard-text {
    padding: 1.5rem 1.2rem 0;
}

.cl-card,
.cl-tiles .cl-card,
.cl-scard,
.cl-tiles .cl-scard {

    p {
        margin-bottom: 2rem;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: block;
    }

    iframe {
        z-index: 1;
        position: relative;
        max-width: initial;
        max-height: initial;
    }

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;
    }

    .poster {

      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      background-position: center center;
      opacity: 1;
      transition: all .4s ease-in-out;

      &.unveil {
        opacity: 0;
        transition-delay: .5s;
      }

    }

    div[data-vimeo-initialized] {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .cl-video {
      height: 100%;
    }

    .cl-video-wrapper {

      z-index: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: #000;

      iframe {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(.95);
        transition:
          opacity .8s ease-in-out .8s,
          transform .8s ease-in-out .8s;
      }

    }

    .cl-card-container {

      opacity: 1;
      transform: translateX(0);
      transition:
        opacity 1s ease-in-out,
        transform 1s ease-in-out;

      &.media {
        transform-origin: right center;
      }

      &.text {
        background: #fff;
        transform-origin: left center;
      }

    }

    &.feature-visible {

      .cl-video-wrapper {

        opacity: 1;

        iframe {
          opacity: 1;
          transform: scale(1);
        }

      }

      .cl-card-container {

        opacity: .5;
        pointer-events: none;

        &.media {
          transform: translateX(-100%);
        }

        &.text {
          transform: translateX(100%);
        }

      }

    }

}

.cl-boxout .cl-card img {
	border-radius: 0;
}


/* Action Cards */

.cl-card {

  display: block;

    .cl-button {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: calc(1.5% + 1em) 1rem;
        background: inherit;
        border: none;
        border-top: 1px solid #eee;
        text-align: center;
    }

    &:hover .cl-button,
    &:focus .cl-button,
    .cl-button:hover,
    .cl-button:focus {
        background: $link;
        border-top: 1px solid $link;
        color: $white;
    }

    .cl-card-container {

      position: relative;
      overflow: hidden;

      &.video {
        min-height: 300px;
      }
    }

}

@media screen and (min-width: $break1 ) {

  .cl-card,
  .cl-tiles.flow > *:nth-child(1) .cl-card {

    display: grid;
    grid-template-columns: 1fr 1fr;

    .cl-card-text {
      padding-bottom: 2rem;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .cl-button {
      position: absolute;
      bottom: 0;
    }

  }

  .cl-tiles .cl-card,
  .wp-block-columns .cl-card {

    display: block;

    .cl-card-container {
      position: initial;
    }

    .cl-button {
      position: relative;
    }

  }

}

@media screen and (min-width: $break2 ) {

  .cl-card,
  .cl-tiles.flow > *:nth-child(1) .cl-card {

    grid-template-columns: 2fr 1fr;

    .cl-card-container.video {
      min-height: 375px;
    }

  }

}



/* Detail Cards */

.cl-dcard:after {
    content: '';
    display: block;
    clear: both;
}

.cl-dcard,
.cl-tiles .cl-dcard {

    img {
        float: right;
        width: 30%;
        margin: .5rem .5rem .5rem 1rem;
    }

    .cl-dcard-text {
        padding: 1rem 1rem 0;
    }

    p {
        font-size: .9rem;
        margin-bottom: 1.2rem;
    }

}


/* Story Cards */

.cl-scard {

    box-shadow: none;
    border: 1px solid #eee;

    .cl-scard-img-container {
        position: relative;
        display: block;
    }

    .cl-scard-img-overlay {

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: .2rem .2rem 0 0;
        background: rgba(0,0,0,.5);
        opacity: 0;
        text-align: center;

        &:hover,
        &:focus {
            opacity: 1;
        }

        span {
            display: inline-block;
            position: relative;
            font-size: 1.25rem;
            top: calc( 50% - .5rem );
            left: -.625rem;
            padding-left: 1.85rem;
            color: #fff;
        }

        span:before {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 1.35rem;
            height: 1.25rem;
            background-image: url(../i/read.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% auto;
        }

    }

    .cl-scard-category {
        display: inline-block;
        font-size: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 0.05rem;
    }

    .cl-scard-body {

        color: inherit;

        &:hover,
        &:focus,
        &:active {

            h2, p {
                color: $link !important;
            }

        }

    }

    .cl-scard-meta {

        margin-bottom: .9rem;
        font-size: .9rem;
        border-top: 1px solid #000;
        padding-top: 1rem;

        &:after {
            display: block;
            content: '';
            clear: both;
        }

    }

    .cl-scard-date {
        line-height: 20px;
        float: left;
    }

    .cl-scard-social {
        float: right;
    }

}
