/* ======= COUNTDOWNS ======= */

@keyframes reveal-countdown {

	from {
    opacity: 0;
    transform: translateY(-20px);
  }

	to {
    opacity: 1;
    transform: translateY(0px);
  }

}

.cl-countdown {

	position: relative;
	margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(-20px);
  animation-name: reveal-countdown;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  &.dismissed {
  	display: none;
  }

  .message {
    display: block;
    box-sizing: border-box;
    padding: .75rem 2rem;
  	background: $midgold;
  	border-radius: .25rem;
    border: 1px solid #d2a400;
  	color: $black;
  	text-align: center;
  }

  a.message {

    border-radius: .2rem;
    border: none;
    box-shadow: $level1;
  	color: $black;

    &:hover,
    &:focus {
    	text-decoration: underline;
    }

  }

  .time-left {
  	font-weight: 700;
  }

  .dismiss {

  	position: absolute;
  	right: .75rem;
  	top: .75rem;
  	width: 0;
  	height: 0;
  	overflow: hidden;
  	padding-left: 16px;
  	padding-bottom: 16px;
  	opacity: .5;
  	background-image: url(../i/dismiss.jpg);
  	background-position: center center;
  	background-size: 100% auto;
  	background-repeat: no-repeat;
  	border-radius: 8px;
  	transition: opacity .2s ease-in-out;

    &:hover,
    &:focus {
    	opacity: 1;
    	cursor: pointer;
    }

  }

}
