/* ======= GUTENBERG ======= */

@keyframes metaReveal {
	from { transform: rotateX(90deg); 	transform-origin: top; }
	to   { transform: rotateX(0deg); 	transform-origin: top; }
}

.wp-block-columns.equal-height {

	.content,
	.cl-wrapper {
		height: 100%;
	}

}

.block-editor {

	textarea {
		background-color: inherit !important;
		border-radius: 0;
	}

	textarea::placeholder {
		opacity: .5;
	}

	.editor-styles-wrapper *[class^="cl-"] {

		.wp-block {
			max-width: 100%;
		}

		p:empty {
		  display: initial;
		}

	}

	.meta {
		animation: metaReveal .5s;
		background-color: #ddd;
		border-top: 2px solid #057fd4;
		margin-top: .5rem;
		min-width: 300px;
		position: absolute;
		padding: .5rem 0 .75rem;
		z-index: 10;
		.row {
			margin-left: .5rem;
			margin-right: .5rem;
		}
		&:before {
			content: ' ';
			display: block;
			left: 2rem;
			position: absolute;
			top: -12px;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid #057fd4;

		}

		.link {
			label {
				float: left;
				margin-right: .5em;
				svg {
					margin-left: .25em;
					margin-top: .5em;
				}
			}
			input {
				width: auto;
			}
		}

	}

	.cl-component-message {
		font-size: 1rem;
		padding: 1.25em 1em 1em 2.5em;
		background-color: rgba(139,139,150,.1);
		background-image: url( '../i/admin-info.png' );
		background-position: 1em center;
		background-size: 1em;
		background-repeat: no-repeat;
		margin-bottom: .5rem;
	}

	.cl-card+.meta {
		top: -2rem;
	}

	/** ABSTRACTS **/

	.cl-abstract {

		max-width: initial;
		margin-left: -35vw !important;
		margin-right: 0;
		position: relative;
		left: 50%;
		width: 70vw !important;


		&.selected {
			margin-bottom: 3rem;
		}

		.cl-abstract-backdrop-preview {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			mix-blend-mode: soft-light;
		}

		&.bars .cl-abstract-backdrop-preview {
			background-image: url('../i/abstract-previews/bars.png');
		}

		&.discs .cl-abstract-backdrop-preview {
			background-image: url('../i/abstract-previews/discs.png');
		}

		&.lattice .cl-abstract-backdrop-preview {
			background-image: url('../i/abstract-previews/lattice.png');
		}

		&.honeycomb .cl-abstract-backdrop-preview {
			background-image: url('../i/abstract-previews/honeycomb.png');
		}

		.cl-abstract-proper {
			padding-top: 8rem;
			padding-bottom: 8rem;
			width: 100% !important;
			margin: 0 !important;
			left: 0 !important;
			overflow: initial !important;
		}

		h1 {

			color: $white;
			margin-bottom: 1rem;

			textarea:focus,
			textarea::placeholder {
				color: #fff;
			}

		}

		.img-wrapper {

			background: #fff;

			.components-placeholder {
				box-shadow: none;
				padding: 0;
				transform: scale(.75);
				transform-origin: center 10%;
			}
		}

		.meta {
			max-width: 400px;
		}

		.cl-button {

			textarea {
				background: transparent !important;
			}

			&:hover textarea:focus {
				color: inherit;
			}

		}

	}

	/** BOXOUTS **/
	.cl-boxout.right, .cl-boxout.left, .cl-card.right, .cl-card.left {
		position: relative;
		z-index: 5;
	}

	/** BUTTONS **/
	textarea.cl-button {
	  background-color: transparent !important;
	}

	.cl-button {

		&.prominent:hover textarea:focus {
			color: $white;
		}

		textarea {
		  padding: 2px 0 0;
		  text-align: center;
		}

	}

	/** CARDS **/
	.cl-card {

		overflow: visible !important;

		.editor-media-placeholder {
			display: none;
		}

		&.selected .editor-media-placeholder {
			display: block;
		}

		.cl-card-text>div {
			margin-bottom: 2rem;
		}

		&:hover .cl-button {
			background-color: $link !important;
		}

	}

	.cl-card.no-image .media {
		display: none;
	}
	.cl-card.no-image.selected .media {
		display: block;
	}

	/** DATES **/

	.editor-styles-wrapper .cl-date {

		.cl-date-content-wrapper:after {
			background-image: none;
		}

		textarea {
			text-align: center;
		}

	}

	/** HEROES **/

	.cl-hero {

		margin-left: auto;
		margin-right: auto;

		.cl-hero-proper {
			overflow: initial !important;
		}

		h1 {

			color: $white;
			margin-bottom: 1rem;

			textarea:focus,
			textarea::placeholder {
				color: #fff;
			}

		}

		.subhead {
			margin: 0 0 2rem;
		}

		&.selected {
			margin-bottom: 3rem;
		}

		&.no-image {

			.poster {
				color: #fff;
				height: auto;
				position: relative;
				z-index: 20;
			}

			.overlay,
			.block {
				bottom: 0;
				height: auto;
				padding-bottom: 5rem;
				position: relative;
			}

		}

		&.has-image .poster img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&.super,
		&.fullwidth {

			max-width: initial;
			margin-left: -35vw !important;
			margin-right: 0;
			position: relative;
			left: 50%;
			width: 70vw !important;

			.cl-hero-proper {
				width: 100% !important;
				margin: 0 !important;
				left: 0 !important;
			}

		 	.meta {
				max-width: 400px;
			}

		}

		&.super {

			h1,
			textarea,
			.subhead {
				text-align: center;
			}

			.meta {
				margin-left: auto;
				margin-right: auto;
			}

		}

		.still img {
			display: none;
		}

		.cl-button {

			textarea {
				background: transparent !important;
			}

			&:hover textarea:focus {
				color: inherit;
			}

		}

	}
	.cl-hero.no-image .poster, .cl-hero.no-image .still  {
		visibility: hidden;
	}
	.cl-hero.no-image.selected .poster, .cl-hero.no-image.selected .still {
		visibility: visible;
	}
	.cl-hero .block-editor-media-placeholder, .cl-hero.selected.has-image .block-editor-media-placeholder {
		visibility: hidden;
	}
	.cl-hero.selected .block-editor-media-placeholder {
		visibility: visible;
	}

	.cl-hero.no-subhead .subhead {
		display: none;
	}
	.cl-hero.no-subhead.selected .subhead {
		display: block;
	}

	.cl-hero.no-link .cl-button {
		display: none;
	}
	.cl-hero.no-link.selected .cl-button {
		display: block;
	}


	/** PANELS **/

	.editor-styles-wrapper .cl-panel-super .cl-button textarea::placeholder {
		color: rgba(255,255,255,.3);
	}

	// Disable superpanel blur in the editor for performance reasons
	@supports ( filter: blur(0) ) {
	  .editor-styles-wrapper .cl-panel-super .cl-panel-super-blur {
			background: #333;
			filter: initial;
		}
	}


	/** PROMOS **/

	.editor-styles-wrapper .cl-promo {

		h1, p {

			color: $white;
			margin-bottom: 1rem;

			textarea:focus,
			textarea::placeholder {
				color: #fff;
			}

		}

		&.micro  {

			h1 textarea {
				text-align: right;
			}

		}

		.cl-promo-content .cl-promo-text {
			width: 35vw !important;
		}

		.cl-promo-block-editor-meta {
			position: relative;
			top: 280px;
			left: 20px;
		}

		.cl-promo-text-link,
		.cl-promo-micro-text-link {

			color: #ffd453;
			font-weight: bold;

			textarea:focus,
			textarea::placeholder {
				color: #ffd453;
	    	font-weight: bold;
			}

		}

		&.selected {
			margin-bottom: 3rem;
		}

		.cl-promo-backdrop-wrapper .cl-promo-backdrop.style-confetti {
			background-image: linear-gradient(#00054d, #1b3559);
		}

		.cl-promo-text {
			max-width: initial;
			margin-left: -30vw !important;
			margin-right: 0;
			position: relative;
			left: 50%;
			width: 60vw !important;
		}

	}

	/** QUOTES **/
	.cl-quote {

		textarea {
			font: inherit;
			text-align: center;
		}

		cite {

			left: 0 !important;
			margin-top: 0 !important;

			&:before {
				display: none !important;
			}

			textarea {
				position: relative;
				top: .375rem;
			}

		}

		.cl-quote-image img {
			border-radius: 50%;
		}

		.editor-media-placeholder {
			display: none;
		}

		&.selected .editor-media-placeholder {
			display: block;
		}

	}
	.cl-quote.no-image .block-editor-media-placeholder {
		display: none;
	}
	.cl-quote.no-image.selected .block-editor-media-placeholder {
		display: block;
	}


	/** MENUS **/
	.cl-menu .cl-menu-placeholder {
		padding: 1rem;
		background: #eee;
	}


	/** METRICS **/
	.cl-metric {

    textarea, span {
      text-align: center;
    }

    &.right,
		&.left {
      position: relative;
      width: 35%;
      z-index: 5;
    }

    &.dark textarea {
      color: #fff;
    }

	}

	/** TABS **/
	.cl-tab {

		padding: 1rem 0;
		border: 1px dashed #ddd;
		border-width: 1px 0;

		&:after {
			display: block;
			content: '';
			clear: both;
		}

	}


}



/** This would hide drop caps but probably everywhere. **/
// .blocks-font-size .components-toggle-control {
// 	display: none;
// }


// .edit-post-visual-editor div[data-type="uri-cl/hero"] {
//	max-width: 100%;
// }
