/* ======= HEROS ======= */


.hero {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
    background: #000;
}

#hero .hero {
    height: 300px;
    padding-bottom: 0;
    transition: height .2s ease-in-out;
}

#hero .hero.fullscreen {
    height: 100vh;
}

.hero img {
    width: 100%;
}

.hero iframe {
    z-index: 1;
    position: relative;
}

.hero .overlay {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.hero .overlay h1 {
    font-family: 'trajan';
    text-transform: lowercase;
    font-weight: 400;
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 3% 3% 5%;
    text-align: center;
    background: rgba(0,33,71,.9);
    color: #fff;
    transform: all .2s ease-in-out;
}

.hero .overlay .block {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 10px rgba(0,0,0,.9);
    padding: 0 5%;
}

.hero .overlay .block h1 {
    position: relative;
    padding: 0;
    text-align: left;
    background: none;
}

.hero .overlay .block p {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    .hero .overlay h1 { 
        backdrop-filter: saturate(180%) blur(20px); 
        background-color: rgba(0,33,71,.5);
    }
    .hero .overlay .block h1 {
        backdrop-filter: none;
    }
}

@media screen and (min-width: $break1) {
    #hero .hero {
        height: 400px;
    }
    .hero .overlay h1 {
        font-size: 2.2rem;
        padding: 3% 2% 4%;
    }
    .hero .overlay .block p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: $break2) {
    #hero .hero {
        height: 500px;
    }
    .hero .overlay h1 {
        font-size: 2.8rem;
        padding: 2% 1% 3%;
    }
    .hero .overlay .block p {
        font-size: 1.5rem;
    }
}