/* ======= MENUS ======= */

ul.cl-menu * {
    box-sizing: border-box;
}

ul.cl-menu {

    & {
        width: 100%;
        max-width: 300px;
        margin: 0;
        list-style-type: none;
        box-sizing: border-box;
    }
    
    li {
        margin: 0;
    }

    li:not(:first-child) {
        border-top: 1px solid $grey;
    }

    a {
        display: block;
        padding: 5%;
        color: $black;
        transition: all .1s ease-in-out;
    }
    
    a:hover,
    a:focus {
        background: $accentblue;
        color: $white;
    }

    ul {
        display: block;
        margin: 0 0 0 5%;
        list-style-type: none;
    }
    
    ul.hidden {
        display: none;
    }

}

ul.cl-menu.bar {
    
    & {
        background: #eee;
        max-width: 100%;
        border-radius: .2rem;
    }
    
    &:after {
        clear: both;
        display: block;
        content: '';
    }
    
    li {
        float: left;
        border-top: none;
        position: relative;
    }
    
    li:not(:first-child) {
        border-left: 1px solid $grey;
    }
    
    a, span {
        padding: .8rem 1.2rem;
    }
    
    ul {
        display: block;
        margin: 0;
        position: absolute;
        z-index: 100;
        background: $white;
        min-width: 100%;
        box-shadow: $level2;
    }
    
    ul.hidden {
        display: none;
    }
    
    ul ul {
        top: 0;
        left: 100%;
    }
    
    ul li {
        display: block;
        float: none;
        border-left: none !important;
    }
    
    ul li:not(:first-child) {
        border-top: 1px solid $lightgrey;
    }
    
}