/* ======= METRICS ======= */

.cl-metric {

    box-sizing: border-box;
    font-size: 1rem;
    background: #eee;
    padding: 1rem;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 2rem;

    * {
        box-sizing: border-box;
    }

    &.date {
      background: none;
      padding: 0;
    }

    span {
        display: block;
        width: 100%;
        text-align: center;
        color: #555;
    }

    span:first-child {
        font-size: 4rem;
        line-height: 4rem;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: .5rem;
    }

    span:last-child {
        max-width: 150px;
        margin: 0 auto;
    }

    &.dark {

        background: #333;

        span {
            color: #fff;
        }

    }

    &.clear,
    &.dark.clear {
        background: transparent;
    }

    &.dark.clear {
        text-shadow: 0 .1rem .3rem rgba(0,0,0,.2);
    }

    .cl-metric-date-wrapper {

      position: relative;
      background: #ddd;
      display: block;
      width: 100px;
      margin: 0 auto 1.5rem;
      border-radius: .2rem;
      transform: scale(1);
      transition: transform .2s ease-in-out;

      &:after {
        position: absolute;
        display: block;
        content: '';
        bottom: -1rem;
        left: calc( 50% - 8px );
        width: 16px;
        height: 4px;
        background-image: url(../i/more.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        opacity: 1;
        transition: opacity .1s ease-in-out .1s;
      }

      &:hover,
      &:focus {

        transform: scale( .95 );
        cursor: pointer;

        &:after {
          opacity: 0;
          transition-delay: 0s;
        }

        & ~ .cl-metric-caption-wrapper {
          opacity: 1;
          transform: translateY(0);
          transition-duration: .4s;
          transition-delay: .05s;
        }

        .cl-metric-date {
          box-shadow: $level2;
          transform: scale(1.05);
          transition-duration: .15s;
        }

        .cl-metric-month {

          padding: .55rem .5rem;
          transition-duration: .15s;

          &:before,
          &:after {
            opacity: 0;
            transform: scaleY(0);
            transition-duration: .15s;
          }
        }

      }

      .cl-metric-date {
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        transform: scale( .9 );
        transition:
          transform .1s ease-in-out,
          box-shadow .1s ease-in-out;
      }

      .cl-metric-month {

        padding: .6rem .5rem .5rem;
        color: #fff;
        font-size: .9rem;
        background: #2277b3; //#d25353;
        text-align: center;
        position: relative;
        border-radius: .1rem .1rem 0 0;
        transition: padding .1s ease-in-out;

        &:before,
        &:after {
          display: block;
          position: absolute;
          top: -12px;
          content: '';
          width: 6px;
          height: 20px;
          border-radius: 3px;
          background: #333;
          transform: scaleY( 1 );
          opacity: 1;
          transition:
            transform .2s ease-in-out,
            opacity .2s ease-in-out;
        }

        &:before {
          left: calc( 25% - 3px );
        }

        &:after {
          left: calc( 75% - 3px );
        }

      }

      .cl-metric-day {
        font-size: 3.5rem;
        color: #333;
        text-align: center;
        padding: .4rem .5rem .5rem;
        background: #fff;
        border-radius: 0 0 .1rem .1rem;
      }

    }

    .cl-metric-caption-wrapper {

      position: relative;
      background: #eee;
      padding: .5rem 1rem;
      font-size: .9rem;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      border-radius: .2rem;
      border: 1px solid #ddd;
      opacity: 0;
      transform: translateY(.2rem);
      transition:
        transform .2s ease-in-out,
        opacity .2s ease-in-out;

      &:before {
        position: absolute;
        display: block;
        content: '';
        background: #eee;
        width: .8rem;
        height: .8rem;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        transform: rotate( 45deg );
        top: -.45rem;
        left: calc( 50% - .4rem );
      }

    }

}

@media screen and (min-width: $break1) {
    .cl-metric.left,
    .cl-metric.right {
        width: auto;
        display: inline-block;
    }
    .cl-metric.left {
        float: left;
        margin: 0 2rem 2rem 0;
    }
    .cl-metric.right {
        float: right;
        margin: 0 0 2rem 2rem;
    }
}
