/* ======= NOTICES ======= */

.cl-notice * {
    box-sizing: border-box;
}

.cl-notice {
    position: relative;
    display: block;
    width: 100%;
    background: $lightblue;
    border-radius: .2rem;
    border: none;
    margin: 0 0 2rem;
    padding: 1.5rem 2rem .2rem;
    box-sizing: border-box;
}

.cl-notice:before {
    position: absolute;
    left: 0;
    top: 1.5rem;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid $white;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

.cl-notice.urgent:before {
    border-left: 15px solid $black;
}

.cl-notice.urgent {
    background: $midgold;
    border: none;
}

.cl-notice h1 {
    color: $blue;
    text-transform: none;
}

.cl-notice.urgent h1 {
    color: $black;
}

.cl-notice p {
    font-size: 1rem;
}