/* ======= NOTICES ======= */

.cl-notice {

    position: relative;
    display: block;
    width: 100%;
    background: $white;
    border: 1px solid $grey;
    margin: 0 0 2rem;
    padding: 1.5rem 2rem .2rem;
    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }

    &.dismissed {
    	display: none;
    }

    &.urgent {

      background: $darkgrey;
      border: 1px solid $black;
      color: $white;

      h1 {
        color: $white;
      }

    }

    h1 {
      text-transform: none;
    }

    .dismiss {

      position: absolute;
      right: .75rem;
      top: .75rem;
      width: 0;
      height: 0;
      overflow: hidden;
      padding-left: 16px;
      padding-bottom: 16px;
      background-image: url(../i/dismiss.jpg);
      background-position: center center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      border-radius: 8px;

      &:hover,
      &:focus {
        cursor: pointer;
      }

    }

}
