/* ======= PANELS ======= */


.cl-panel {

    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 2rem;
    background: #efefef;
    border: none;
    overflow: hidden;

	* {
		box-sizing: border-box;
	}

	article,
	figure {
		position: relative;
		display: block;
		overflow: hidden;
		width: 100%;
		margin: 0;
		flex: none;
	}

	article {
		padding: 1.8rem 1.2rem 0;
	}

	img {
		position: relative;
		display: initial;
		width: 100%;
		min-width: initial;
		height: auto;
		padding: 0;
	}

}

@media screen and (min-width: $break1) {
  .cl-panel {

    display: flex;
    max-width: 100%;

		article,
		figure {
			width: auto;
		}

		article {
			flex: 44;
			order: 1;
			padding-left: 3%;
			padding-right: 3%;
		}

		figure {
			flex: 50;
			order: 2;
		}

		&.reverse  {

			article {
				order: 2;
			}
			figure {
				order: 1;
			}

		}

		img {
			position: absolute;
			height: 100%;
			object-fit: cover;
		}

	}

}


/* SUPER PANELS */

.cl-panel-super {

  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  background-color: #000;
  overflow: hidden;

  .cl-panel-super-blur {
    display: none;
  }

	.cl-panel-super-content {

	  position: relative;
	  display: block;
	  width: 100%;
	  height: 100%;

		&>div {
		  flex-basis: 50%;
		  display: block;
		}

	}

	.cl-panel-super-image {

	  height: auto;
	  width: 100%;

		img {
		  object-fit: cover;
		  width: 100%;
		  height: auto;
		  padding: 0;
		}

	}

	.cl-panel-super-text {

	  position: relative;
	  padding: 20vw 10vw;

		h1 {
		  font-size: 2.8rem;
		  color: #fff;
		}

		p {
		  color: rgba(255,255,255,.8);
		}

	}

}

@supports ( filter: blur(0) ) {

  .cl-panel-super .cl-panel-super-blur {
    display: block;
	  position: absolute;
	  left: -100px;
	  top: -100px;
	  width: calc( 100% + 200px );
	  height: calc( 100% + 200px );
	  background-position: right 50vh;
	  background-repeat: no-repeat;
	  background-size: cover;
	  filter: blur(50px) brightness(80%) saturate(200%);
	}

}

@media screen and (min-width:600px) {

  .cl-panel-super {

    height: 90vh;

		.cl-panel-super-blur {
			background-position: right center;
		}

		.cl-panel-super-content {
			display: flex;
		}

		.cl-panel-super-image {

			height: 100%;
			max-width: 50%;

      img {
        width: auto;
        max-width: 100%;
        height: 100%;
      }

		}

		.cl-panel-super-text {

			padding: 30vh 8vw 3rem 3rem;

				h1 {
					font-size: 2.5rem;
				}

		}

    &.reverse {

      .cl-panel-super-image {
        text-align: right;
        order: 2;
      }

      .cl-panel-super-text {
        padding: 30vh 8vw 3rem;
        order: 1;
      }

    }

  }

}

@media screen and (min-width:800px) {

  .cl-panel-super .cl-panel-super-text h1 {
    font-size: 3.5rem;
  }

}

@media screen and (min-width:1200px) {

  .cl-panel-super .cl-panel-super-text h1 {
    font-size: 4rem;
  }

}

@media screen and (min-width:1400px) {

  .cl-panel-super .cl-panel-super-text h1 {
    font-size: 5rem;
  }

}
