/* ======= PANELS ======= */

.cl-panel * {
    box-sizing: border-box;
}

.cl-panel {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: $maxcardwidth;
    margin-bottom: 40px;
    background: #eee;
    border: none;
    border-radius: .2rem;
    overflow: hidden;
}
    
.cl-panel h1 {
    margin: 0;
    text-transform: initial;
}

.cl-panel p {
    padding-top: 1rem;
    font-size: 1rem;
}

.cl-panel p:first-of-type {
    padding-top: 1.2rem;
}

.cl-panel article,
.cl-panel figure { 
    position: relative; 
    display: block; 
    overflow: hidden;
    width: 100%;
    margin: 0;
    flex: none;
}

.cl-panel article {
    padding: 1.8rem 1.2rem 1.5rem;
}

.cl-panel img { 
    position: relative;
    width: 100%;
    height: auto;
}

.cl-panel {
    a.cl-button,
    span.cl-button {
        border-radius: 2px;
    }
}

@media screen and (min-width: $break1) {
    .cl-panel { 
        display: flex; 
        max-width: 100%;
    }
    .cl-panel article,
    .cl-panel figure { 
        width: auto;
    }
    .cl-panel article { 
        flex: 44;
        order: 1;
        padding-left: 3%;
        padding-right: 3%;
    }
    .cl-panel figure {
        flex: 50;
        order: 2;
    }
    .cl-panel.reverse article { 
        order: 2; 
    }
    .cl-panel.reverse figure {
        order: 1;
    }
    .cl-panel img { 
        position: absolute;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: $break2) {
    
    .cl-panel {
        
        a.cl-button,
        span.cl-button {
            width: 100%;
            max-width: 100%;
        }
        
    }
    
}