/* ======= PANELS ======= */

.cl-panel * {
    box-sizing: border-box;
}

.cl-panel {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: $maxcardwidth;
    margin-bottom: 40px;
    background: #eee !important;
    //border: 2px solid $white;
    border: none;
    //color: $black !important;
    //font-family: $body !important;
    border-radius: .2rem;
    overflow: hidden !important;
}
    
.cl-panel h1 {
    //font-family: $header !important;
    font-size: 1.3rem !important;
    font-weight: normal !important;
    line-height: 1.6rem !important;
    //color: $black !important;
    margin: 0 !important;
    text-transform: initial !important;
}

.cl-panel p {
    padding-top: 1rem !important;
    font-size: .8rem !important;
}

.cl-panel p:first-of-type {
    padding-top: 1.2rem !important;
}

.cl-panel article,
.cl-panel figure { 
    position: relative !important; 
    display: block !important; 
    overflow: hidden !important;
    width: 100% !important;
    margin: 0 !important;
    flex: none !important;
}

.cl-panel article {
    padding: 1.8rem 1.2rem 1.5rem;
}

.cl-panel img { 
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

@media screen and (min-width: $break1) {
    .cl-panel { 
        display: flex; 
        max-width: 100%;
    }
    .cl-panel article,
    .cl-panel figure { 
        width: auto !important;
    }
    .cl-panel article { 
        flex: 44 !important;
        order: 1 !important;
        padding-left: 3%;
        padding-right: 3%;
    }
    .cl-panel figure {
        flex: 50 !important;
        order: 2 !important;
    }
    .cl-panel.reverse article { 
        order: 2 !important; 
    }
    .cl-panel.reverse figure {
        order: 1 !important;
    }
    .cl-panel img { 
        position: absolute !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}