/* ======= PROMOS ======= */

.cl-promo {

  width: 100vw !important;
  height: auto;
  position: relative !important;
  left: 50% !important;
  margin-left: -50vw !important;

  .cl-promo-backdrop {

    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .cl-promo-backdrop-blur {
      background: linear-gradient(#00054d, #1b3559);
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
      height: 100%;
      width: 100%;
      transform-origin: center center;
      transform: scale( 1.5 );
      filter: blur(50px);
    }

  }

  .cl-promo-content {

  	position: relative;
  	box-sizing: border-box;
  	padding: 3rem 25px;
    margin: 0 auto;
  	text-align: center;

    h1 {
    	color: #fff;
    	font-size: 2.2rem;
    	margin-bottom: 1rem;
    }

    p {
    	color: #fff;
    	font-size: 1.5rem;
    	font-family: "Hind", Arial;
    	line-height: 2rem;
      margin-bottom: 1rem;
    }

    a {

    	color: #ffd453;
    	font-weight: bold;

      &:hover,
      &:focus {
      	text-decoration: underline;
      }

    }

    .cl-promo-img {

    	width: 100%;
      margin-top: 2rem;

      a {

        display: block;

        img {
        	position: relative;
        	top: 0;
          transform: translateY(0);
        	transition: transform .1s ease-in-out;
          display: block;
          max-width: 100%;
          min-width: 200px;
          width: 100%;
          height: auto;
        	padding: 0;
        	margin: 0;
        	border-radius: 3px;
        	border: 1px solid rgba(255,255,255,.5);
        }

        &:hover,
        &:focus {

          img {
          	transform: translateY( -2px );
          }

        }

      }

    }

  }

}

@media screen and (min-width:800px) {

	.cl-promo {

		margin-top: 6rem;

    .cl-promo-content {

  		text-align: left;

      h1 {
    		width: 57%;
    		font-size: 2.6rem;
    		margin-top: 2rem;
    	}

    	p {
    		width: 57%;
    	}

      .cl-promo-img-wrapper {
        width: 100vw !important;
        height: calc( 100% + 2vw + .5rem + 2px ); /* This looks weird, but it's just to accommodate for the img offset, box shadow, and hover translation. */
        position: absolute !important;
        top: calc( -2vw - .5rem - 2px );
        left: 50% !important;
        margin-left: -50vw !important;
      }

    	.cl-promo-img {

    		position: relative;
    		width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 0;

        a {
          position: absolute;
          right: 25px;
          top: calc( .5rem + 2px );
          width: 35%;
        }

        img {
      		box-shadow: 0 0 .5rem rgba(0,0,0,.5);
      	}

    	}

  	}

	}

}

@media screen and (min-width:1050px) {

  .cl-promo {

    .cl-promo-content {

      width: 1000px;
      padding: 3rem 0;

      .cl-promo-img {
        width: 1050px;
        margin: 0 auto;
      }

    }

  }

}
