/* ======= SLIDESHOW ======= */


.cl-slideshow {

	display: block;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	margin: 0 0 2rem;

    * {
        box-sizing: border-box;
    }

    &:after {
        display: block;
        content: '';
        clear: both;
    }

    .carousel-wrapper {

			position: relative;
			width: 100%;
			overflow: hidden;
			background: #eee;
			border-radius: .2rem;
			margin-bottom: 1rem;

      .carousel {

				position: relative;
				display: grid;
				grid-template-columns: repeat(1, 100%); // Change this with JS
        will-change: transform;
				align-content: center;
				overflow-x: auto;
				scroll-snap-coordinate: 0 0;
				scroll-snap-points-x: repeat( 100% );
				scroll-snap-type: x mandatory;
				-webkit-overflow-scrolling: touch;
				scrollbar-width: none;
				-ms-overflow-style: none;
				width: 100%;
				height: 100%;

				&::-webkit-scrollbar {
					display: none;
				}

				&.transitions {
            transition: transform .4s cubic-bezier(0.77, 0, 0.175, 1);
        }

        &.reboundLeft {
            animation-name: cl-slideshow-carousel-rebound-left;
            animation-duration: .3s;
        }

        &.reboundRight {
            animation-name: cl-slideshow-carousel-rebound-right;
            animation-duration: .3s;
        }

				.slide {

          scroll-snap-align: start;
					height: 300px;

					figure {
						height: 100%;
					}

					figcaption {
						display: none;
					}

					img {
	          height: 100%;
	          width: 100%;
	          object-fit: contain;
	        }

        }

      }

			.controls {

				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all .4s ease-in-out;

        &:after {
          display: block;
          clear: both;
          content: '';
        }

        .target {
          height: 100%;
          width: 50%;
          padding: 0 2%;
        }

        .target.previous {
          float: left;
        }

        .target.next {
          float: right;
        }

        .target:hover {
          cursor: pointer;
        }

        .controller {
          position: relative;
          top: calc(50% - 20px);
          width: 40px;
          height: 40px;
          background-color: rgba(255,255,255,.8);
          border-radius: 50%;
          transition: padding .2s ease-in-out;
        }

        .controller:after {
          display: block;
          content: '';
          position: relative;
          top: 26%;
          left: 17%;
          width: 45%;
          height: 45%;
          border-top: 1px solid rgba(0,0,0,.5);
          border-right: 1px solid rgba(0,0,0,.5);
          transition: all .2s ease-in-out;
        }

        .target:hover .controller:after {
          border-top: 1px solid $black;
          border-right: 1px solid $black;
        }

        .target.previous .controller:after {
          transform: rotate(225deg);
          left: 34%;
        }

        .target.next .controller:after {
          transform: rotate(45deg);
        }

        .target.next .controller {
          float: right;
        }

        &.touch .controller {
          display: none;
        }

      }

      &:hover {

          .controls {
              opacity: 1;
          }

      }

		}

    .counter {

			display: block;
			float: right;
			font-size: .8rem;
			color: $darkgrey;
			margin-bottom: 5rem;

      span {
        font-weight: 600;
      }

    }

} // .cl-slideshow

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    .cl-slideshow .carousel-wrapper .controls .controller { -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(255,255,255,.5); }
}

@media screen and (min-width: $break1) {

    .cl-slideshow .carousel-wrapper .carousel .slide {
        height: 400px;
    }

    .cl-slideshow .carousel-wrapper .controls {

			display: block;

			.controller {
	       top: calc(50% - 25px);
	       width: 50px;
	       height: 50px;
	    }

		}

}

@media screen and (min-width: $break2) {

    .cl-slideshow .carousel-wrapper .carousel .slide {
        height: 500px;
    }

    .cl-slideshow .carousel-wrapper .controls .controller {
        top: calc(50% - 30px);
        width: 60px;
        height: 60px;
    }

}

@keyframes cl-slideshow-carousel-rebound-left {
    0% { left: 0; }
    30% { left: 5%; }
    100% { left: 0; }
}

@keyframes cl-slideshow-carousel-rebound-right {
    0% { right: 0; }
    30% { right: 5%; }
    100% { right: 0; }
}
