/* ======= TILES ======= */

.cl-tiles * {
    box-sizing: border-box;
}

.cl-tiles {
    width: 100%;
    box-sizing: border-box;
}

.cl-tiles:after {
    content: '';
    clear: both;
    display: block;
}

.cl-tiles>div,
.cl-tiles>a {
    float: left;
    clear: none;
    overflow: visible;
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    margin-right: 0;
    padding-bottom: 0;
}

.cl-tiles.square>div,
.cl-tiles.square>a {
    height: 0;
    overflow: hidden;
    margin-bottom: 1%;
    padding-bottom: 100%;
}

.cl-tiles.compact>div,
.cl-tiles.compact>a {
    margin-bottom: 0;
}

@keyframes tileReveal {
    from { transform: rotateY(90deg); }
    to   { transform: rotateY(0deg); }
}

.cl-tiles.reveal>div,
.cl-tiles.reveal>a {
    animation: tileReveal .5s;
}

.cl-tiles>div>img,
.cl-tiles>a>img {
    display: block;
    width: 100%;
}

.cl-tiles>div>h1,
.cl-tiles>div>p {
    max-width: 500px;
}

.cl-tiles>div>p {
    width: 95%;
    font-size: 1rem;
    // Calculate line-height based on viewport width
    line-height: calc(1.2rem + .3 * ((100vw - 22.5rem ) / 40));
}

.cl-tiles>div>p:first-child {
    padding-top: 0;
}

.cl-tiles>div>p:last-child {
    padding-bottom: 2rem;
}

// Set up tiles.fifths at most narrow width
.cl-tiles.fifths>div,
.cl-tiles.fifths>a {
    &:not(:nth-child(2n)) {
        margin-right: 3%;
    }
    &:nth-child(2n+1) {
        clear: both;
    }
    & {
        width: 48.5%;
    } 
}

.cl-tiles.square.fifths>div,
.cl-tiles.square.fifths>a {
    &:not(:nth-child(2n)) {
        margin-right: 1%;
    }
    & {
        width: 49.5%;
        padding-bottom: 49.5%;
    }
}

.cl-tiles.compact.fifths>div,
.cl-tiles.compact.fifths>a {
    &:not(:nth-child(2n)) {
        margin-right: 0;
    }
    & {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media screen and (min-width: $break0) {
    
    // Reset previous break
    .cl-tiles, .cl-tiles.square {
        &.fifths>div:not(:nth-child(2n)),
        &.fifths>a:not(:nth-child(2n)) {
            margin-right: 0;
        }
        &.fifths>div:nth-child(2n+1),
        &.fifths>a:nth-child(2n+1) {
            clear: none;
        }
    }
    
    .cl-tiles {
        &.thirds>div:nth-child(2n+1),
        &.thirds>a:nth-child(2n+1),
        &.fourths>div:nth-child(2n+1),
        &.fourths>a:nth-child(2n+1),
        &.fifths>div:nth-child(3n+1),
        &.fifths>a:nth-child(3n+1){
            clear: both;
        }
    }
    
    // Set up default tiles for this break
    .cl-tiles {
        &.thirds>div:not(:nth-child(2n)),
        &.thirds>a:not(:nth-child(2n)),
        &.fourths>div:not(:nth-child(2n)),
        &.fourths>a:not(:nth-child(2n)), 
        &.fifths>div:not(:nth-child(3n)),
        &.fifths>a:not(:nth-child(3n)) {
            margin-right: 3%;
        }
        &.thirds>div,
        &.thirds>a,
        &.fourths>div,
        &.fourths>a {
            width: 48.5%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 31.33%;
        }
    }

    // Set up square tiles for this break
    .cl-tiles.square {
        &.thirds>div:not(:nth-child(2n)),
        &.thirds>a:not(:nth-child(2n)),
        &.fourths>div:not(:nth-child(2n)),
        &.fourths>a:not(:nth-child(2n)),
        &.fifths>div:not(:nth-child(3n)),
        &.fifths>a:not(:nth-child(3n)) {
            margin-right: 1%;
        }
        &.thirds>div,
        &.thirds>a,
        &.fourths>div,
        &.fourths>a {
            width: 49.5%;
            padding-bottom: 49.5%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 32.66%;
            padding-bottom: 32.66%;
        }
    }
    
    // Set up compact tiles for this break
    .cl-tiles.compact {
        &.thirds>div:not(:nth-child(2n)),
        &.thirds>a:not(:nth-child(2n)),
        &.fourths>div:not(:nth-child(2n)),
        &.fourths>a:not(:nth-child(2n)),
        &.fifths>div:not(:nth-child(3n)),
        &.fifths>a:not(:nth-child(3n)) {
            margin-right: 0;
        }
        &.thirds>div,
        &.thirds>a,
        &.fourths>div,
        &.fourths>a {
            width: 50%;
            padding-bottom: 50%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 33.33%;
            padding-bottom: 33.33%;
        }
    }
    
}

@media screen and (min-width: $break1) {
    
    // Reset previous break
    .cl-tiles, .cl-tiles.square {
        &.fourths>div:not(:nth-child(2n)),
        &.fourths>a:not(:nth-child(2n)),
        &.fifths>div:not(:nth-child(3n)),
        &.fifths>a:not(:nth-child(3n)) {
            margin-right: 0;
        }
        &.fourths>div:nth-child(2n+1),
        &.fourths>a:nth-child(2n+1),
        &.fifths>div:nth-child(3n+1),
        &.fifths>a:nth-child(3n+1) {
            clear: none;
        }
    }
    
    .cl-tiles {
        &.fourths>div:nth-child(3n+1),
        &.fourths>a:nth-child(3n+1),
        &.fifths>div:nth-child(4n+1),
        &.fifths>a:nth-child(4n+1) {
            clear: both;
        }
    }
    
    // Set up default tiles for this break
    .cl-tiles {
        &.fourths>div:not(:nth-child(3n)),
        &.fourths>a:not(:nth-child(3n)),
        &.fifths>div:not(:nth-child(4n)),
        &.fifths>a:not(:nth-child(4n)) {
            margin-right: 3%;
        }
        &.fourths>div,
        &.fourths>a {
            width: 31.33%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 22.75%;
        }
    }
    
    // Set up square tiles for this break
    .cl-tiles.square {
        &.fourths>div:not(:nth-child(3n)),
        &.fourths>a:not(:nth-child(3n)),
        &.fifths>div:not(:nth-child(4n)),
        &.fifths>a:not(:nth-child(4n)) {
            margin-right: 1%;
        }
        &.fourths>div,
        &.fourths>a {
            width: 32.66%;
            padding-bottom: 32.66%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 24.25%;
            padding-bottom: 24.25%;
        }
    }
    
    // Set up compact tiles for this break
    .cl-tiles.compact {
        &.fourths>div:not(:nth-child(3n)),
        &.fourths>a:not(:nth-child(3n)),
        &.fifths>div:not(:nth-child(4n)),
        &.fifths>a:not(:nth-child(4n)) {
            margin-right: 0;
        }
        &.fourths>div,
        &.fourths>a {
            width: 33.33%;
            padding-bottom: 33.33%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 25%;
            padding-bottom: 25%;
        }
    }
    
}

@media all and (min-width: $break2) {
    
    // Reset previous break
    .cl-tiles, .cl-tiles.square {
        &.thirds>div:not(:nth-child(2n)),
        &.thirds>a:not(:nth-child(2n)),
        &.fourths>div:not(:nth-child(3n)),
        &.fourths>a:not(:nth-child(3n)),
        &.fifths>div:not(:nth-child(4n)),
        &.fifths>a:not(:nth-child(4n)) {
            margin-right: 0;
        }
        &.thirds>div:nth-child(2n+1),
        &.thirds>a:nth-child(2n+1),
        &.fourths>div:nth-child(3n+1),
        &.fourths>a:nth-child(3n+1),
        &.fifths>div:nth-child(4n+1),
        &.fifths>a:nth-child(4n+1) {
            clear: none;
        }
    }
    
    .cl-tiles {
        &.halves>div:nth-child(2n+1),
        &.halves>a:nth-child(2n+1),
        &.thirds>div:nth-child(3n+1),
        &.thirds>a:nth-child(3n+1),
        &.fourths>div:nth-child(4n+1),
        &.fourths>a:nth-child(4n+1),
        &.fifths>div:nth-child(5n+1),
        &.fifths>a:nth-child(5n+1) {
            clear: both;
        }
    }
    
    // Set up default tiles for this break
    .cl-tiles {
        &.halves>div:not(:nth-child(2n)),
        &.halves>a:not(:nth-child(2n)),
        &.thirds>div:not(:nth-child(3n)),
        &.thirds>a:not(:nth-child(3n)),
        &.fourths>div:not(:nth-child(4n)),
        &.fourths>a:not(:nth-child(4n)),
        &.fifths>div:not(:nth-child(5n)),
        &.fifths>a:not(:nth-child(5n)) {
            margin-right: 3%;
        }
        &.halves>div,
        &.halves>a {
            width: 48.5%;
        }
        &.thirds>div,
        &.thirds>a {
            width: 31.33%;
        }
        &.fourths>div,
        &.fourths>a {
            width: 22.75%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 17.6%;
        }
    }
    
    // Set up square tiles for this break
    .cl-tiles.square {
        &.halves>div:not(:nth-child(2n)),
        &.halves>a:not(:nth-child(2n)),
        &.thirds>div:not(:nth-child(3n)),
        &.thirds>a:not(:nth-child(3n)),
        &.fourths>div:not(:nth-child(4n)),
        &.fourths>a:not(:nth-child(4n)),
        &.fifths>div:not(:nth-child(5n)),
        &.fifths>a:not(:nth-child(5n)) {
            margin-right: 1%;
        }
        &.halves>div,
        &.halves>a {
            width: 49.5%;
            padding-bottom: 49.5%;
        }
        &.thirds>div,
        &.thirds>a {
            width: 32.66%;
            padding-bottom: 32.66%;
        }
        &.fourths>div,
        &.fourths>a {
            width: 24.25%;
            padding-bottom: 24.25%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 19.2%;
            padding-bottom: 19.2%;
        }
    }
    
    // Set up compact tiles for this break
    .cl-tiles.compact {
        &.halves>div:not(:nth-child(2n)),
        &.halves>a:not(:nth-child(2n)),
        &.thirds>div:not(:nth-child(3n)),
        &.thirds>a:not(:nth-child(3n)),
        &.fourths>div:not(:nth-child(4n)),
        &.fourths>a:not(:nth-child(4n)),
        &.fifths>div:not(:nth-child(5n)),
        &.fifths>a:not(:nth-child(5n)) {
            margin-right: 0;
        }
        &.halves>div,
        &.halves>a {
            width: 50%;
            padding-bottom: 50%;
        }
        &.thirds>div,
        &.thirds>a {
            width: 33.33%;
            padding-bottom: 33.33%;
        }
        &.fourths>div,
        &.fourths>a {
            width: 25%;
            padding-bottom: 25%;
        }
        &.fifths>div,
        &.fifths>a {
            width: 20%;
            padding-bottom: 20%;
        }
    }
    
}

// Static p line-height at full width
@media all and (min-width: $break3){
    .cl-tiles>div>p {
        line-height: 1.5rem;
    }
}

// Don't distort iframes
.cl-tiles iframe {
    width: 100%;
}