/* ======= VIDEOS ======= */


.cl-video {
    
    & {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    & * {
        box-sizing: border-box;
    } 

    img {
        width: 100%;
        position: relative;
        order: 1;
    }

    iframe {
        width: 100%;
        height: auto;
        order: 1;
    }
    
    .overlay {
        background: #eee;
        border-radius: 0 0 .2rem .2rem;
        padding: 1.5rem 1rem 1rem;
        opacity: 1;
        display: block;
        order: 2;
        z-index: 2;
    }
    
    h1 {
        position: relative;
        text-align: left;
        //font-family: $header;
        font-weight: 700;
        font-size: 1.2rem !important;
        color: $black !important;
        transform: all .2s ease-in-out;
        padding: 0;
        margin: 0;
        line-height: 1.2;
    }

    p {
        color: $black !important;
        font-weight: 400 !important;
        font-size: 0.9rem !important;
    }
    
    p:first-child {
        padding-top: 0;
    }
    
}

@media screen and (min-width: $break1) {
    .cl-video {
        .overlay {
            max-width: 60%;
            position: absolute;
            padding: 2%;
            top: 1rem;
            left: 1rem;
            background: rgba(0,0,0,.8);
            border-radius: .5rem;
            order: 1;
            transition: opacity .2s ease-in-out, top .2s ease-in-out;
        }
        .overlay.hidden {
            opacity: 0;
            top: 0;
        }
        img,
        iframe {
            order: 2;
        }
        h1 {
            font-size: 1.6rem !important;
            color: $white !important;
        }
        p {
            font-size: 1rem !important;
            color: $white !important;
        }
        .cl-button,
        .cl-button:hover,
        .cl-button:focus {
            border: none !important;
        }
    }
    
    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
        .cl-video .overlay { -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(0,0,0,.5); }
    }
}

@media screen and (min-width: $break2) {
    .cl-video {
        h1 {
            font-size: 1.8rem !important;
        }
        p {
            font-size: 1.1rem !important;
        }
    }
}