/* ======= RESET ======= */

*[class^="cl-"] p:empty {
    display: none;
}

*[class^="cl-"].fitted {
    margin-bottom: 0 !important;
}

*[class^="cl-"].block-level {
    margin-bottom: 2rem !important;
}

/* ======= VARIABLES ======= */

@import 'variables';

/* ======= PARTIALS ======= */

@import 'tiles';
@import 'abstracts';
@import 'breakouts';
@import 'buttons';
@import 'boxouts';
@import 'cards';
@import 'countdowns';
@import 'dates';
@import 'heroes';
@import 'menus';
@import 'metrics';
@import 'notices';
@import 'overlays';
@import 'panels';
@import 'promos';
@import 'quotes';
@import 'share';
@import 'slideshows';
@import 'social';
@import 'tabs';
@import 'videos';
@import 'waves';
@import 'wp-columns';

// Non-component styles
@import 'errors';
@import 'gutenberg';
