/* ==============================
   FOOTER
   ============================== */

footer {
    width: 100%;
    margin-top: 100px;
    padding: 80px 0;
    border-top: 1px solid #ddd;
    background: #eee;
}
