/* ==============================
   GLOBAL NAV
   ============================== */

#globalheader {

    & {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        line-height: 80px;
        z-index: 9997;
        background: #fff;
        box-shadow: none;
        padding-left: 250px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        transition: all .2s ease-in-out;
    }

    &.transparent {
        background-color: rgba(256,256,256,0.9);
    }

    h1 {
        display: inline;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
    }

    h1 a {
        color: #2277b3;
    }
    
} // #globalheader

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    #globalheader.transparent {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(256,256,256,0.8)
    }
}

#menu-button {
    display: inline;
    position: relative;
    top: 3px;
    opacity: 0;
    padding-right: 25px;
    transition: opacity .1s;
    transition-delay: .2s;
    cursor: pointer;
}

#identity {
    display: block;
    width: 100%;
    height: 80px;
    background-image: url(../media/assets/identity.png);
    background-size: auto 50px;
    background-position: 35px 25px;
    background-repeat: no-repeat;
}
    
#globalnav {

    & { 
        position: fixed;
        display: block;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 9999;
        overflow-x: hidden;
        overflow-y: auto;
        width: 250px;
        background: #fff;
        border-right: 1px solid #ddd;
        font-size: .8rem;
        transition: all .2s ease-in-out;
    }

    &.revealed {
        left: 0;
    }

    #gn {
        margin: auto;
        padding: 40px 0;
    }

    li {
        display: block;
    }

    #gn>li {
        padding: 30px 20px 20px 35px;
        color: #333;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: color .1s ease-in-out;
    }

    #gn>li:hover,
    #gn>li:focus {
        color: #2277b3;
    }

    li a {
        display: block;
        padding: 15px 20px 15px 50px;
        line-height: 16px;
        color: #333;
        transition: background .1s ease-in-out;
    }

    li a:hover,
    li a:focus {
        background: #eee;
    }

    #gn ul {
        display: none;
    }

    .gn-icon {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin-right: 15px;
        background-position: 0;
        background-size: 32px 16px;
        background-repeat: no-repeat;
    }
    
} //#globalnav

body.nav-layout #gn-layout,
body.nav-style #gn-style,
body.nav-components #gn-components,
body.nav-writing #gn-writing,
body.nav-resources #gn-resources,
body.nav-demos #gn-demos {
    display: block !important;
}

#gn-layout-tiles .gn-icon {
    background-image: url(../media/assets/icon-tiles.png);
}
#gn-style-color .gn-icon {
    background-image: url(../media/assets/icon-color.png);
}
#gn-style-typography .gn-icon {
    background-image: url(../media/assets/icon-type.png);
}
#gn-components-boxouts .gn-icon {
    background-image: url(../media/assets/icon-boxouts.png);
}
#gn-components-buttons .gn-icon {
    background-image: url(../media/assets/icon-buttons.png);
}
#gn-components-cards .gn-icon {
    background-image: url(../media/assets/icon-cards.png);
}
#gn-components-heros .gn-icon {
    background-image: url(../media/assets/icon-heros.png);
}
#gn-components-menus .gn-icon {
    background-image: url(../media/assets/icon-menus.png);
}
#gn-components-notices .gn-icon {
    background-image: url(../media/assets/icon-notices.png);
}
#gn-components-panels .gn-icon {
    background-image: url(../media/assets/icon-panels.png);
}
#gn-components-videos .gn-icon {
    background-image: url(../media/assets/icon-videos.png);
}
#gn-resources-bugs .gn-icon {
    background-image: url(../media/assets/icon-bugs.png);
}
#gn-resources-code .gn-icon {
    background-image: url(../media/assets/icon-code.png);
}
#gn-resources-plugin .gn-icon {
    background-image: url(../media/assets/icon-plugin.png);
}
#gn-writing-links .gn-icon {
    background-image: url(../media/assets/icon-links.png);
}
body.nav-buttons #gn-components-buttons,
body.nav-cards #gn-components-cards,
body.nav-color #gn-style-color,
body.nav-typography #gn-style-typography,
body.nav-boxouts #gn-components-boxouts,
body.nav-heros #gn-components-heros,
body.nav-menus #gn-components-menus,
body.nav-notices #gn-components-notices,
body.nav-panels #gn-components-panels,
body.nav-videos #gn-components-videos,
body.nav-tiles #gn-layout-tiles,
body.nav-bugs #gn-resources-bugs,
body.nav-code #gn-resources-code,
body.nav-plugin #gn-resources-plugin,
body.nav-card-tiles #gn-demos-card-tiles,
body.nav-dynamic-image-hero #gn-demos-dynamic-image-hero,
body.nav-video-hero #gn-demos-video-hero,
body.nav-links #gn-writing-links {
    a {
        color: #2277b3;
        font-weight: 600;
    }
    .gn-icon {
        background-position: -16px 0;
    }
}

#window-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,.3);
    transition: all .3s; 
}
#window-mask.visible {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1350px) {
    #globalheader {
        padding-left: 25px;
    }
    #menu-button {
        opacity: 1;
    }
    #globalnav {
        left: -270px;
        border-right: none;
    }
}

@media screen and (max-width: 600px) {
    #globalheader {
        height: 60px;
        line-height: 60px;
    }
    
    #globalheader h1 {
        font-size: 4vw;
    }
    
}