/* ==============================
   GLOBAL NAV
   ============================== */

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    z-index: 1;
    background: #fff;
    box-shadow: none;
    padding-left: 250px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    transition: all .2s ease-in-out;
}

header.transparent {
    background-color: rgba(256,256,256,0.9);
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    header.transparent {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(256,256,256,0.8)
    }
}

#menu-button {
    display: inline;
    position: relative;
    top: 3px;
    opacity: 0;
    padding-right: 25px;
    transition: opacity .1s;
    transition-delay: .2s;
    cursor: pointer;
}

header h1 {
    display: inline;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
}

header h1 a {
    color: #2277b3;
}
    
#globalnav { 
    position: fixed;
    display: block;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    background: #fff;
    border-right: 1px solid #ddd;
    font-size: .8rem;
    transition: all .2s ease-in-out;
}

#globalnav.revealed {
    left: 0;
}

#identity {
    display: block;
    width: 100%;
    height: 80px;
    background-image: url(../media/assets/identity.svg);
    background-size: auto 50px;
    background-position: 35px 25px;
    background-repeat: no-repeat;
}

#globalnav ul {
    margin: auto;
    padding: 40px 0;
}

#globalnav li {
    display: block;
}

#globalnav li.section {
    padding: 30px 20px 20px 35px;
    color: #2277b3;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}

#globalnav li a {
    display: block;
    padding: 15px 20px 15px 40px;
    line-height: 16px;
    color: #555;
    transition: background .1s ease-in-out;
}

#globalnav li a:hover,
#globalnav li a:focus {
    background: #eee;
}

#globalnav .gn-icon {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    background-position: 0;
    background-size: 32px 16px;
    background-repeat: no-repeat;
}

#gn-tiles .gn-icon {
    background-image: url(../media/assets/icon-tiles.svg);
}
#gn-color .gn-icon {
    background-image: url(../media/assets/icon-color.svg);
}
#gn-boxouts .gn-icon {
    background-image: url(../media/assets/icon-boxouts.svg);
}
#gn-buttons .gn-icon {
    background-image: url(../media/assets/icon-buttons.svg);
}
#gn-cards .gn-icon {
    background-image: url(../media/assets/icon-cards.svg);
}
#gn-heros .gn-icon {
    background-image: url(../media/assets/icon-heros.svg);
}
#gn-menus .gn-icon {
    background-image: url(../media/assets/icon-menus.svg);
}
#gn-panels .gn-icon {
    background-image: url(../media/assets/icon-panels.svg);
}
#gn-bugs .gn-icon {
    background-image: url(../media/assets/icon-bugs.svg);
}
#gn-code .gn-icon {
    background-image: url(../media/assets/icon-code.svg);
}
body.nav-buttons #gn-buttons,
body.nav-cards #gn-cards,
body.nav-color #gn-color,
body.nav-columns #gn-columns,
body.nav-boxouts #gn-boxouts,
body.nav-heros #gn-heros,
body.nav-menus #gn-menus,
body.nav-panels #gn-panels,
body.nav-tiles #gn-tiles,
body.nav-bugs #gn-bugs,
body.nav-code #gn-code {
    a {
        color: #fff;
        background: #2277b3;
    }
    .gn-icon {
        background-position: -16px 0;
    }
}

#window-mask {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,.3);
    transition: all .3s; 
}
#window-mask.visible {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1350px) {
    header {
        padding-left: 25px;
    }
    #menu-button {
        opacity: 1;
    }
    #globalnav {
        left: -270px;
        border-right: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 60px;
        line-height: 60px;
    }
    
    header h1 {
        font-size: 4vw;
    }
    
}