/* ==============================
   LAYOUT
   ============================== */

body {
    background: #fafafa;
}

header#hero {
    width: 100%;
    padding-left: 250px;
    transition: all .2s ease-in-out;
}

main { 
    width: 1250px; 
    margin: 70px auto 60px;
    padding-left: 250px;
    transition: all .2s ease-in-out;
}
@media screen and (max-width: 1350px) {
    main {
        width: 1000px;
        padding-left: 0;
    }
    header#hero {
        padding-left: 0;
    }
}
@media screen and (max-width: 1050px) {
    main {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 600px) {
    main {
        margin: 50px auto 50px;
    }

}

@keyframes no-js {
    from { opacity: 0; }
    to { opacity: 1; }
}
#no-js {
    position: absolute;
    top: 0;
    opacity: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: #999;
    border-bottom: 1px solid #ddd;
    background: #eee;
    animation: no-js .2s ease-in-out .5s forwards;
}

section {
    margin-top: 120px;
    padding-top: 80px;
    border-top: 1px solid #ccc;
    clear: both;
}

section>article,
section>article>article {
    margin-top: 80px;
    clear: both;
}

#pg-identity {
    position: relative;
    width: 100%;
    max-width: 500px;
    left: -20px;
    margin-bottom: 40px;
}

#pg-identity.plain {
    left: 0 !important;
}

@media screen and (max-width: 600px) {
    #pg-identity {
        left: -3vw;
    }
}

div.breakout {
    background: #000;
    color: #fff;
    width: 100vw;
    position: relative;
    left: 50%;
    margin: 2rem 0 2rem -50vw;
}

img.wireframe {
    display: block;
    width: 300px;
    height: auto;
    margin: 3rem 0;
}

img.wireframe.right {
    float: right;
    margin: 0 0 0 3rem;
}

@media screen and (max-width: 700px) {
    img.wireframe,
    img.wireframe.right {
        display: block;
        float: none;
        width: 100%;
        max-width: 500px; 
        margin: 3rem 0;
    }
}

img.figure {
    width: 100%;
}

ul.construction-list {
    margin-bottom: 30px;
}
ul.construction-list li {
    padding: .2rem 0;
    font-size: .8rem;
}
ul.construction-list span {
    font-family: monospace;
    font-size: 1rem;
}
ul.construction-list li.section {
    margin-top: .6rem;
    font-weight: 700;
}