/* ==============================
   LOCAL NAV
   ============================== */

#localnav {
    
    & {
        margin: 40px 0;
        font-size: 1.1rem;
        border-left: 1px solid #0047c2;
    }
    
    li {
        display: block;
        padding: .9rem 1.5rem;
    }

    a {
        color: #0047c2;
        font-weight: 600;
        transition: all .1s ease-in-out;
    }

    a:hover,
    a:focus {
        color: #003287;
    }
    
} // #localnav