/* ==============================
   LOCAL NAV
   ============================== */

#localnav {
    margin: 40px 0;
    border-left: 8px solid #ddd;
    font-size: 1.2rem;
}

#localnav li {
    padding: .75rem 1.5rem;
}

#localnav a {
    color: #2277b3;
    transition: all .1s ease-in-out;
}

#localnav a:hover,
#localnav a:focus {
    color: #002147;
}