/* ==============================
   LOCAL NAV
   ============================== */

#localnav {
    
    & {
        margin: 40px 0;
        border-left: 8px solid #ddd;
        font-size: 1.2rem;
    }

    li {
        padding: .75rem 1.5rem;
    }

    a {
        color: #2277b3;
        transition: all .1s ease-in-out;
    }

    a:hover,
    a:focus {
        color: #002147;
    }
    
} // #localnav