/* ==============================
   PALETTES & CONTRASTS
   ============================== */

.palette li,
.contrasts li {
    width: 100%;
    padding: 15px;
    font-size: .8rem;
    color: #fff;
}

.palette {
    
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    li.dark {
        color: #000;
    }

    li:first-of-type {
        margin-bottom: 5px;
    }

    &.spaced li:not(:first-of-type) {
        margin-bottom: 2px;
    }

    li:not(:first-of-type) span:nth-child(2),
    li:first-of-type span:nth-child(3) {
        float: right;
        font-family: monospace;
        font-size: 1rem;
    }

    li:first-of-type span:first-child {
        display: block;
        margin-bottom: 40px;
        font-size: 1rem;
        font-weight: 700;
    }
    
} // .palette

.contrasts {

    li {
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    li:after {
        content: '';
        display: block;
        clear: both;
    }

    li span:first-child,
    li span:last-child {
        float: right;
        font-family: monospace;
        font-size: 1rem;
        text-align: right;
        padding-left: 30px;
    }

    li span:nth-child(2) {
        display: block;
        margin-bottom: 10px;
        font-size: .8rem;
    }

    li span.large {
        font-family: 'Hind', sans-serif;
        font-size: 18pt;
    }
    
} // .contrasts

.contrast-scale {
    
    & {
        margin: 20px 0;
    }

    span {
        display: block;
        font-family: monospace;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
    }

    span.acceptable {
        clear: left;
        float: left;
        background: #84f57f;
    }

    span.unacceptable {
        float: right;
        background: #d0aab4;
    }

    .scale {
        width: 100%;
        padding: 0 2%;
        height: 50px;
        line-height: 50px;
        font-size: .8rem;
        overflow: hidden;
        white-space: nowrap;
        background: linear-gradient(to right, #fff, #000);
    }

    .scale.large {
        font-family: 'Hind', sans-serif;
        font-size: 18pt;
    }
    
} // .contrast-scale
