/* ==============================
   PALETTES & CONTRASTS
   ============================== */

.contrast-scale {
    margin: 20px 0;
}

.contrast-scale span {
    display: block;
    font-family: monospace;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

.contrast-scale span.acceptable {
    clear: left;
    float: left;
    background: #84f57f;
}

.contrast-scale span.unacceptable {
    float: right;
    background: #d0aab4;
}

.contrast-scale .scale {
    width: 100%;
    padding: 0 2%;
    height: 50px;
    line-height: 50px;
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, #fff, #000);
}

.contrast-scale .scale.large {
    font-family: 'Hind', sans-serif;
    font-size: 18pt;
}

.palette:not(:last-child) {
    margin-bottom: 30px;
}

.palette li,
.contrasts li {
    width: 100%;
    padding: 15px;
    font-size: .8rem;
    color: #fff;
}

.palette li.dark {
    color: #000;
}

.palette li:first-of-type {
    margin-bottom: 5px;
}

.palette.spaced li:not(:first-of-type) {
    margin-bottom: 2px;
}

.palette li:not(:first-of-type) span:nth-child(2),
.palette li:first-of-type span:nth-child(3) {
    float: right;
    font-family: monospace;
    font-size: 1rem;
}

.palette li:first-of-type span:first-child {
    display: block;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: 700;
}

.contrasts li {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.contrasts li:after {
    content: '';
    display: block;
    clear: both;
}

.contrasts li span:first-child,
.contrasts li span:last-child {
    float: right;
    font-family: monospace;
    font-size: 1rem;
    text-align: right;
    padding-left: 30px;
}

.contrasts li span:nth-child(2) {
    display: block;
    margin-bottom: 10px;
    font-size: .8rem;
}

.contrasts li span.large {
    font-family: 'Hind', sans-serif;
    font-size: 18pt;
}
