/* ==============================
   REFERENCE
   ============================== */


.reference ul {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 15px;
}

.reference ul li {
    display: inline-block;
    color: #999;
    padding: 3px 7px;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .reference ul {
        float: right;
        margin-bottom: 0;
    }
    .reference ul li:first-child {
        margin-left: .5rem;
    }
}

.reference ul li.on,
.reference ul li:hover,
.reference ul li:focus {
    color: #fff;
    background: #d02566;
}

.reference ul li.on {
    cursor: default;
}

.reference {
    display: block;
    clear: both;
}

.reference .block:not(:first-of-type) {
    display: none;
}

.reference pre {
    display: block;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
}

.reference xmp {
    margin: 0;
}

.more-reference {
    margin-top: 20px;
}