/* ==============================
   TYPE
   ============================== */

@font-face {
    font-family: 'trajan';
    src: url('../fonts/Trajan Pro Bold.ttf') format('truetype');
}

h1 {
    font-family: "Hind", sans-serif;
    font-weight: normal;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

h2 {
    font-family: "Hind", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #0047c2;
}

h3 {
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #444;
    margin-bottom: 1.3rem;
}

h4 {
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin: 2.5rem 0 1.3rem;
}
h5 {
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #555;
    margin: 2.5rem 0 .8rem;
    width: 50%;
    border-bottom: 1px solid #ccc;
    
}

a.component {
    font-weight: 600;
    font-size: .8rem;
    color: #2065dd;
    text-decoration: none;
    padding: 2px 7px;
    margin: 0 .1rem;
    border-radius: .25rem;
    border: 1px solid #e5e5e5;
    background: #fff;
    transition: all .2s;
}

a.component:hover,
a.component:focus {
    color: #fff;
    background: #2065dd;
    border: 1px solid #2065dd;
}   

b {
    font-weight: 700;
}

i {
    color: rgba(0,0,0,.5);
}

em {
    color: #c71616;
}

section {
    font-size: .9rem;
}

p {
    line-height: 1.5;
    padding-top: 1rem;
}
p.indent {
    padding-top: .5rem;
    margin-left: 1rem;
}

main>p,
section>p,
section>article>p {
    width: 60%;
}

@media screen and (max-width: 700px) {
    main>p,
    section>p,
    section>article>p {
        width: 100%;
    }
}

xmp {
    display: block;
    width: 90%;
    font-family: 'Roboto Mono', Courier, monospace;
    font-size: .75rem;
}

xmp>span {
    line-height: .9rem;
}

code, p.code {
    font-family: 'Roboto Mono', Courier, monospace;
    font-weight: normal;
    font-size: .75rem;
    padding: 0 .2rem;
    width: 100%;
}
p.code.shortcode {
    padding-top: 1rem;
    color: #d02566;
}
code.tag,
.prettyprint .tag {
    color: #0545ac;
}
code.class {
    position: relative;
    top: -.1rem;
    padding: .1rem .3rem;
    margin: 0 .1rem;
    border-radius: .2rem;
    background: #0eb454;
    color: #fff;
}
code.class.second {
    background: #24a0aa;
}
code.shortcode {
    position: relative;
    top: -.1rem;
    padding: .1rem .3rem;
    margin: 0 .1rem;
    border-radius: .2rem;
    background: #d02566;
    color: #fff;
}
code.bool {
    font-size: 90%;
    padding: .1rem .2rem;
    color: #d96d00;
}
code.string {
    font-size: 90%;
    padding: .1rem .2rem;
    color: #080;
}
.prettyprint .atn {
    color: #ba0cba;
}
.prettyprint .com {
    color: #aaa;
}
