/* ==============================
   TYPE
   ============================== */

@import url(https://fonts.googleapis.com/css?family=Hind:400,600|Roboto+Mono|Roboto:400,600) all;

$type-header: 'Roboto', 'Hind', Arial, sans-serif;
$type-body: 'Hind', Arial, sans-serif;
$type-serif: 'Charter', serif;
$type-mono: 'Roboto Mono', Courier, monospace;

html {
    font-family: $type-body;
    font-weight: normal;
    font-size: 16px;
    color: #000;
}

h1 {
    font-family: $type-header;
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 2rem;
    max-width: 800px;
    color: #000;
}

h1.super {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

h2 {
    font-family: $type-header;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #000;
    max-width: 800px;
}

h3 {
    font-family: $type-header;
    font-weight: 600;
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 1.3rem;
}

h4 {
    font-family: $type-header;
    font-weight: 600;
    font-size: 1.2rem;
    color: #555;
    margin: 2.5rem 0 1.3rem;
}

h5 {
    font-family: $type-header;
    font-weight: 300;
    font-size: 1.1rem;
    color: #555;
    margin: 2.5rem 0 1rem;
    width: 50%;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
}

h6 {
    font-family: $type-header;
    font-weight: 300;
    font-size: 1rem;
    color: #555;
    margin: 2.5rem 0 .8rem;
}

a.component {
    & {
        font-weight: 600;
        font-size: .8rem;
        color: #2277b3;
        text-decoration: none;
        padding: 2px 7px;
        margin: 0 .1rem;
        border-radius: .25rem;
        border: 1px solid #e5e5e5;
        background: #fff;
        transition: all .2s;
    }
    &:hover,
    &:focus {
        color: #fff;
        background: #2277b3;
        border: 1px solid #2277b3;
    } 
}

b {
    font-weight: 600;
}

i {
    font-style: italic;
}

.attributes i {
    color: rgba(0,0,0,.5);
    font-style: normal;
}

em {
    color: #c71616;
}

section {
    font-size: 1rem;
}

p {
    line-height: 1.7;
    padding-top: 1rem;
}
p.type-intro {
    font-family: $type-serif;
    font-size: 1.2rem;
}
p.type-intro:last-of-type {
     padding-bottom: 2rem;
}
p.indent {
    padding-top: .5rem;
    margin-left: 1rem;
}

main>p,
section>p,
section>article>p {
    width: 100%;
    max-width: 600px;
}

blockquote {
    width: 100%;
    max-width: 600px;
    padding: 1rem 1rem 1.5rem;
    color: #666;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
}

ul.list {
    & {
        position: relative;
        padding-left: 2rem;
        margin: 2rem 0;
    }
    li {
        width: 100%;
        max-width: 600px;
        padding-bottom: 2rem;
    }
    li:before {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid #2277b3;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
    }
} // ul.list

xmp {
    display: block;
    width: 100%;
    white-space: pre-wrap;
    font-family: $type-mono;
    font-size: .75rem;
    margin: 30px 0;
}

xmp>span {
    line-height: .9rem;
}

xmp li {
    padding: 3px 5px;
}

code, p.code {
    font-family: $type-mono;
    font-weight: normal;
    font-size: .75rem;
    padding: 0 .2rem;
    width: 100%;
    max-width: 100% !important;
    white-space: pre-wrap;
}
p.code.shortcode {
    padding-top: 1rem;
    color: #d02566;
}
p.code.comment {
    color: #999;
}
pre p.code.shortcode {
    padding-top: 0;
}

code {
    &.class,
    &.id {
        position: relative;
        top: -.1rem;
        padding: .1rem .3rem;
        margin: 0 .1rem;
        border-radius: .2rem;
        color: #fff;
    }
    &.class {
        background: #0eb454;
        white-space: nowrap;
    }
    &.class.second {
        background: #24a0aa;
        white-space: nowrap;
    }
    &.id {
        background: #ed6510;
        white-space: nowrap;
    }
    &.shortcode {
        position: relative;
        top: -.1rem;
        padding: .1rem .3rem;
        margin: 0 .1rem;
        border-radius: .2rem;
        background: #d02566;
        color: #fff;
        white-space: nowrap;
    }
    &.tag {
        color: #0545ac;
        white-space: nowrap;
    }
    &.bool,
    &.string,
    &.num,
    &.attr,
    &.link {
        font-size: 90%;
        padding: .1rem .2rem;
    }
    &.bool {
        color: #0085ad;
    }
    &.string {
        color: #080;
    }
    &.num {
        color: #d86c00;
    } 
    &.attr {
        color: #ba0cba;
    }
    &.link {
        color: #555;
    }
} // code

.prettyprint {
    .atn {
        color: #ba0cba;
    }
    .com {
        color: #aaa;
    }
    .tag {
        color: #0545ac;
    }
} // .prettyprint

pre .prettyprint .com {
    color: #999;
}

.type {

    & {
        margin-bottom: 40px;
        color: #999;
    }

    &.display li {
        line-height: 2.8rem;
        padding-bottom: 1.2rem;
    }
    
    &.display li:after {
        display: block;
        content: '';
        clear: both;
    }
    
    &.display span {
        float: left;
        width: 6rem;
    }

    &.display {
        h1,h2,h3,h4 {
            width: calc(100% - 6rem);
            max-width: 100%;
            float: right;
            text-align: left;
            margin: 0;
        }
    } // .type.display

    &.text {
        li {
            line-height: 1.8rem;
            padding-bottom: 1rem;
        }
        li:after {
            display: block;
            content: '';
            clear: both;
        }
        li.initial {
            color: #20c77a;
        }
        code {
            float: left;
            width: 5rem;
        }
        span {
            width: calc(100% - 5rem);
            color: #000;
            float: right;
            text-align: left;
        }
        &.charter span {
            font-family: $type-serif;
        }
        &.bold span {
            font-weight: 600;
        }
        &.italic span {
            font-style: italic;
        } 
    } // .type.text
    
} // .type
