/* ==============================
   WYSIWYG
   ============================== */

article.wysiwyg img.icon {
    width: 15px;
    height: 15px;
    margin: 0 .2rem;
}

article.wysiwyg img.editor {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 2rem 0;
}