<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiles - Layout - Digital Content Style Guide</title>	
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        
        <style>
            .cl-tiles.demo>div {
                background: #ddd;
                border: 1px solid #ccc;
            }
        </style>
        
    </head>
	
	<body class="nav-layout nav-tiles">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
        
        <main>
            
            <h1>Tiles</h1>
            <img class="wireframe right" src="../media/wireframes/tiles.svg" alt="Tiles">
            <p>Tiles are the primary layout framework for organizing repeating or modular content on the page.  They are set up with a fixed number of tiles along the x-axis at full width, and can contain an infinite number of tiles that wrap fluidly depending on browser size.</p>
            
            <ul id="localnav">
                <li><a href="#usage">Usage</a></li>
            </ul>
            
            <section id="usage">
                <h2>Usage</h2>
                <p>Tiles are implemented with the class <code class="class">cl-tiles</code></p>
                <p>Tiles support grids with two, three, four, or five tiles in width. The number of tiles across the page can be controled by the classes <code class="class second">halves</code>, <code class="class second">thirds</code>, <code class="class second">fourths</code>, and <code class="class second">fifths</code>, respecively.  Tile grids can contain an infinite number of tiles.</p>

                <article>
                    <h4>2 Tiles Across</h4>
                    <xmp class="prettyprint">
<div class="cl-tiles halves">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                    <div class="cl-tiles halves square demo">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </article>
                
                <article>
                    <h4>3 Tiles Across</h4>
                    <xmp class="prettyprint">
<div class="cl-tiles thirds">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                    <div class="cl-tiles thirds square demo">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </article>
                    
                <article>
                    <h4>4 Tiles Across</h4>
                    <xmp class="prettyprint">
<div class="cl-tiles fourths">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                    <div class="cl-tiles fourths square demo">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </article>
            
                <article>
                    <h4>5 Tiles Across</h4>
                    <xmp class="prettyprint">
<div class="cl-tiles fifths">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                    <div class="cl-tiles fifths square demo">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </article>
                
                <article>
                    <h4>Tiles can be square</h4>
                    <p>By default, tiles adjust to the size of their content. To override this format and force tiles be square, and crop their content accordingly, add the class <code class="class">square</code></p>
                    <xmp class="prettyprint">
<div class="cl-tiles fourths square">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                </article>
                
                <article>
                    <h4>Tiles can be compact</h4>
                    <p>By default, each tile has a small margin that separates it from other surrounding tiles. To eliminate this margin and force tiles to but up against one another, add the class <code class="class">compact</code></p>
                    <p>Both default tiles and square tiles can be compact.</p>
                    <xmp class="prettyprint">
<div class="cl-tiles fourths compact">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                    <div class="cl-tiles fourths square compact demo">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </article>
                
                <article>
                    <h4>Tile loading can be animated</h4>
                    <p>In some cases, especially when tiles are dynamically generated, the display of each tile can be delayed via the generating script. To animate this, add the class <code class="class">reveal</code></p>
                    <xmp class="prettyprint">
<div class="cl-tiles fifths reveal">
    <div>...</div>
    <div>...</div>
    <div>...</div>
    ...
</div>     
                    </xmp>
                </article>
                
                <article>
                    <h4>Shortcode Support</h4>
                    <p>Tiles can be implemented with the shortcode <code class='shortcode'>cl-tiles</code></p>
                    <p class="code shortcode">[cl-tiles across=4]...[/cl-tiles]</p>
                    <p>The tiles shortcode supports nested shortcodes, which makes it easy to include other components within the tile framework via shortcode.</p>
                    <h5>Attributes</h5>
                    <p><b>accross</b> <i>(num) (optional) (values: <code class="num">2</code>, <code class="num">3</code>, <code class="num">4</code>, <code class="num">5</code>)</i></p>
                    <p class='indent'>The maximum number of tiles to display per row<br /><i>(default value: <code class="num">3</code>)</i></p>
                    <p><b>square</b> <i>(bool) (optional)</i></p>
                    <p class='indent'>Set to force tiles be square and crop their content accordingly<br /><i>(default value: <code class="bool">false</code>)</i></p>
                    <p><b>compact</b> <i>(bool) (optional)</i></p>
                    <p class='indent'>Set to eliminate margins around tiles<br /><i>(default value: <code class="bool">false</code>)</i></p>
                    <p><b>animated</b> <i>(bool) (optional)</i></p>
                    <p class='indent'>Set to animate tiles when added to the page<br /><i>(default value: <code class="bool">false</code>)</i></p>
                </article>
                
            </section><!-- end usage -->
            
        </main>
        
        <footer id="globalfooter">
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>