<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buttons - Components - Digital Content Style Guide</title>
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../cl/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-buttons">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1>Buttons</h1>
            <img class="wireframe right" src="../media/wireframes/buttons.svg" alt="Buttons">
            <p>Buttons focus user attention on and allow them to take major actions.</p>
            
            <ul id="localnav">
                <li><a href="#usage">Usage</a></li>
                <li><a href="#appearance">Appearance</a></li>
            </ul>
            
            <section id="usage">
                
                <h2>Usage</h2>
                <p>Buttons are implemented with the class <code class="class">button</code></p>
                <xmp class="prettyprint">
<a class="button" href="#">Explore</a>   
                </xmp>
                <div class="tiles thirds">
                    <div>
                        <a class="button" href="#">Explore</a>
                    </div>
                </div>
                
                <p>To give a button emphasis over others, use the class <code class="class second">prominent</code></p>
                <xmp class="prettyprint">
<a class="button prominent" href="#">Explore</a>   
                </xmp>
                <div class="tiles thirds">
                    <div>
                        <a class="button prominent" href="#">Explore</a>
                    </div>
                </div>
                
                <article>
                    <h4>Shortcode Support</h4>
                    <p>Buttons can be implemented with the shortcode <code class='shortcode'>cl-button</code></p>
                    <p class="code shortcode">[cl-button link="sample.html"]</p>
                    <h5>Attributes</h5>
                    <p><b>link</b> <i>(string) (required)</i></p>
                    <p class='indent'>The URL</p>
                    <p><b>text</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The text for the button<br /><i>(default value: <code class="string">'Explore'</code>)</i></p>
                    <p><b>tooltip</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The text for the tooltip<br /><i>(default value: <code class="string">'Explore'</code>)</i></p>
                    <p><b>prominent</b> <i>(bool) (optional)</i></p>
                    <p class='indent'>Set to give the button prominence<br /><i>(default value: <code class='bool'>false</code>)</i></p>
                </article>
                
            </section>
            
            <section>
                
                <h2>Appearance</h2>
                <h4>A button's appearance depends on the layout framework or component it's in.</h4>
                <p>Note that buttons in cards are never prominent.</p>
                <article>
                    <div class="tiles thirds">
                        <div>
                            <h1>A Tile</h1>
                            <p>Here is a default button living in a tile.  Tile buttons are descret objects, span the full width of the tile, and have sharp corners.</p>
                            <a class="button" href="#">Explore</a>
                        </div>
                        <div>
                            <div class="card">
                                <h1>A Card</h1>
                                <p>Here is a button in a card.  Cards require buttons, and the button cannot be made prominent.  Card buttons comprise the bottom portion of the card itself, and are separated from the card content by a thin horizontal line.</p>
                                <a class="button" href="#">Go Forth</a>
                            </div>
                        </div>
                        <div>
                            <div class="cutout">
                                <h1>A Cutout</h1>
                                <p>Here is a default button and a prominent button living in a cutout.  Cutout buttons are descrete objects, span the content width of the cutout, and have slightly rounded corners.</p>
                                <a class="button" href="#">Be Humble</a>
                                <a class="button prominent" href="#">Be Daring</a>
                            </div>
                        </div>
                    </div>
                </article>
                
            </section>
            
        </main>
                
        <footer>
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>