<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buttons - Components - Digital Content Style Guide</title>
        <link rel="icon" type="image/png" href="../media/assets/favicon.png">
        <link rel="stylesheet" type="text/css" href="../css/playground.built.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-buttons">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1 class="super">Buttons</h1>
            <img class="wireframe right" src="../media/wireframes/buttons.svg" alt="Buttons">
            <p>Buttons focus user attention on and allow them to take major actions.</p>
            
            <ul id="localnav">
                <li><a href="#usage">Usage</a></li>
                <li><a href="#appearance">Appearance</a></li>
            </ul>
            
            <section id="usage">
                
                <h2>Usage</h2>
                <p>Buttons are implemented with the class <code class="class">cl-button</code></p>
                <xmp class="prettyprint">
<a class="cl-button" href="#">Explore</a>   
                </xmp>
                <div class="cl-tiles thirds">
                    <div>
                        <a class="cl-button" href="#">Explore</a>
                    </div>
                </div>
                
                <p>To give a button emphasis over others, use the class <code class="class second">prominent</code></p>
                <xmp class="prettyprint">
<a class="cl-button prominent" href="#">Explore</a>   
                </xmp>
                <div class="cl-tiles thirds">
                    <div>
                        <a class="cl-button prominent" href="#">Explore</a>
                    </div>
                </div>
                
                <article>
                    <h4>Shortcode Support</h4>
                    <p>Buttons can be implemented with the shortcode <code class='shortcode'>cl-button</code></p>
                    <p class="code shortcode">[cl-button link="sample.html"]</p>
                    <div class="attributes">
                        <h5>Attributes</h5>
                        <p><b>link</b> <i>(string) (required)</i></p>
                        <p class='indent'>The URL</p>
                        <p><b>text</b> <i>(string) (optional)</i></p>
                        <p class='indent'>The text for the button<br /><i>(default value: <code class="string">'Explore'</code>)</i></p>
                        <p><b>tooltip</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set a tooltip<br /><i>(default value: none)</i></p>
                        <p><b>prominent</b> <i>(bool) (optional)</i></p>
                        <p class='indent'>Set to give the button prominence<br /><i>(default value: <code class='bool'>false</code>)</i></p>
                        <p><b>class</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set custom CSS class(es)<br /><i>(default value: none)</i></p>
                    </div>
                </article>
                
                <article class="wysiwyg">
                    <h4>WYSIWYG Editor Support</h4>
                    <p>With the <a href="../plugin/" class="component">WYSIWYG</a> plugin installed, buttons can be added using the WYSIWYG editor.</p>
                    <p>The icon <img src="../media/wysiwyg/icons/button.png" class="icon" alt="Button WYSIWYG toolbar icon"> to add a button appears in the WYSIWYG toolbar.  Clicking this icon opens a dialogue where different button attributes can be easily set.</p>
                    <img src="../media/wysiwyg/button.png" class="editor" alt="Button WYSIWYG editor dialogue">
                    <p>The completed button will appear fully styled in the editor window.  To edit it, simply double-click the button to reopen the editor dialogue.</p>
                </article>
                
            </section>
            
            <section>
                
                <h2>Appearance</h2>
                <h4>A button's appearance depends on the layout framework or component it's in.</h4>
                <p>Note that buttons in cards and heros are never prominent.</p>
                <article>
                    <div class="cl-tiles thirds">
                        <div>
                            <h1>A Tile</h1>
                            <p>Here is a default button living in a tile.  Tile buttons are descret objects, span the full width of the tile, and have sharp corners.  They can also be prominent.</p>
                            <a class="cl-button" href="#">Explore</a>
                        </div>
                        <div>
                            <a class="cl-card"  href="#">
                                <h1>A Card</h1>
                                <p>Here is a button in a card.  Cards require buttons, and the button cannot be made prominent.  Card buttons comprise the bottom portion of the card itself, and are separated from the card content by a thin horizontal line.</p>
                                <span class="cl-button">Go Forth</span>
                            </a>
                        </div>
                        <div>
                            <div class="cl-boxout">
                                <h1>A Boxout</h1>
                                <p>Here is a default button and a prominent button living in a boxout.  Boxout buttons are descrete objects, span the content width of the boxout, and have slightly rounded corners.</p>
                                <a class="cl-button" href="#">Be Humble</a>
                                <a class="cl-button prominent" href="#">Be Daring</a>
                            </div>
                        </div>
                    </div>
                    <p>Here is a button in a hero.  Hero buttons are descrete objects, elevated and semi-transparent, and have sharp corners.  They assume the maximum button width at full-screen and change position and opacity when hovered.  They cannot be made prominent.</p>
                    <article>
                        <div class="cl-hero">
                            <div class="block">
                                <h1>A Hero</h1>
                                <p>Here is a button in a hero</p>
                                <a class="cl-button" href="#">Explore</a>
                            </div>
                            <div class="still" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                        </div>
                    </article>
                </article>
                
            </section>
            
        </main>
                
        <footer id="globalfooter">
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>