<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cards - Components - Digital Content Style Guide</title>
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-cards">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1>Cards</h1>
            <img class="wireframe right" src="../media/wireframes/cards.svg" alt="Cards">
            <p>A card is an elevated, clickable container with abridged contents and a single action, serving as an entry-point to more detailed information.</p>
            <p>Cards do not contain any links. Clicking the card is the only action a user can take.</p>
            
            <ul id="localnav">
                <li><a href="#action">Action Card</a></li>
                <li><a href="#detail">Detail Card</a></li>
                <li><a href="#usage">Usage</a></li>
                <li><a href="#construction">Construction</a></li>
            </ul>
            
            <section id="action">
                <h2>Action Card</h2>
                <h4>Action cards are vertical cards that prompt user action with an optional image, summary language, and a button.</h4>
                <p>Action cards are implemented with the class <code class="class">cl-card</code></p>

                <div class="cl-tiles thirds">
                    <div>
                        <xmp class="prettyprint">
<a class="cl-card" href="">
    <h1>Title</h1>
    <p>Paragraph text.</p> 
    <span class="cl-button">Button</span>
</a>    
                            </xmp>
                        <a class="cl-card" href="#">
                            <h1>Simple</h1>
                            <p>This is the most basic action card.</p>
                            <span class="cl-button">Learn more</span>
                        </a>
                    </div>
                    <div>
                        <xmp class="prettyprint">
<a class="cl-card" href="">
    <img>
    <h1>Title</h1>
    <p>Paragraph text.</p>
    <span class="cl-button">Button</span>
</a>                       
                        </xmp>
                        <a class="cl-card" href="#">
                            <img src="../media/native/hero_1.jpg" alt="Card Hero 1">
                            <h1>The Real Deal</h1>
                            <p>This is a more elaborate card, with a banner image and longer text.  Text should not be too long though&mdash;two or three sentences should be enough to entice user action.</p>
                            <span class="cl-button">Explore</span>
                        </a>
                    </div>
                </div>
                <p>Action cards preserve the original aspect ratio of any image used.</p>
                <h4>Shortcode Support</h4>
                <p>Action cards can be implemented with the shortcode <code class='shortcode'>cl-card</code></p>
                <p class="code shortcode">[cl-card title="A Great Title" body="The body text" link="sample.html"]</p>
                
                <div class="attributes">
                    <h5>Attributes</h5>
                    <p><b>link</b> <i>(string) (required)</i></p>
                    <p class='indent'>The URL for the card</p>
                    <p><b>img</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The source URL for an image<br /><i>(default value: none)</i></p>
                    <p><b>alt</b> <i>(string) (optional)</i></p>
                    <p class='indent'>Set alternate text for the image<br /><i>(default value: none)</i></p>
                    <p><b>title</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The text for a title<br /><i>(default value: none)</i></p>
                    <p><b>body</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The body text<br /><i>(default value: none)</i></p>
                    <p><b>button</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The text for the button<br /><i>(default value: <code class="string">'Explore'</code>)</i></p>
                    <p><b>tooltip</b> <i>(string) (optional)</i></p>
                    <p class='indent'>The title attribute for the link<br /><i>(default value: <code class="string">'Explore'</code>)</i></p>
                </div>
                
            </section>
            
            <section id="detail">
                <h2>Detail Card</h2>
                <h4>Detail cards are light-weight cards, and have an optional thumbnail image on the right-hand side.</h4>
                <p>Detail cards are implemented with the class <code class="class">cl-dcard</code>
                <div class="cl-tiles thirds">
                    <div>
                        <xmp class="prettyprint">
<a class="cl-dcard" href="">
    <h1>Title</h1>
    <p>Brief phrase.</p>
</a>                  
                        </xmp>
                        <a class="cl-dcard" href="#">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                    <div>
                        <xmp class="prettyprint">
<a class="cl-dcard" href="">
    <img>
    <h1>Title</h1>
    <p>Brief phrase.</p>
</a>   
                        </xmp>
                        <a class="cl-dcard" href="#">
                            <img src="../media/commons/profile_1.jpg" alt="Profile 1">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                </div>
                <p>Detail cards preserve the original aspect ratio of the image used, but square images are recommended and preferred.</p>
                <h4>Shortcode Support</h4>
                    <p>Detail cards can be implemented with the shortcode <code class='shortcode'>cl-dcard</code></p>
                    <p class="code shortcode">[cl-dcard link="sample.html" title="A Great Title" body="The body text"]</p>
                    <div class="attributes">
                        <h5>Attributes</h5>
                        <p><b>link</b> <i>(string) (required)</i></p>
                        <p class='indent'>The URL for the card</p>
                        <p><b>title</b> <i>(string) (optional)</i></p>
                        <p class='indent'>The text for a title<br /><i>(default value: none)</i></p>
                        <p><b>body</b> <i>(string) (optional)</i></p>
                        <p class='indent'>The body text<br /><i>(default value: none)</i></p>
                        <p><b>img</b> <i>(string) (optional)</i></p>
                        <p class='indent'>The source URL for an image<br /><i>(default value: none)</i></p>
                        <p><b>alt</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set alternate text for the image<br /><i>(default value: none)</i></p>
                        <p><b>tooltip</b> <i>(string) (optional)</i></p>
                        <p class='indent'>The tooltip for the card<br /><i>(default value: <code class="string">'Explore'</code>)</i></p>
                    </div>
            </section><!-- End Detail Card -->
            
            <section id="usage">
                <h2>Usage</h2>
                <h4>Card content is isolated.</h4>
                <div class="cl-tiles thirds">
                    <div>
                        <p>The purpose of cards is to highlight information with the goal of enticing user action.  Cards should not be used simply to emphasize some content or act as a header.</p>
                        <p><b>A good test is this:</b> If removing the card from the page makes it more difficult to understand other page content, the card is not being used properly.</p>
                    </div>
                    <div class="comparison dont">
                        <img src="../media/comparisons/card-usage-isolation-dont.jpg" alt="What not to do with tiles">
                        <span>Don't</span>
                        <p>Containing primary information in a card degrades its relationship with secondary information below. Removing the card makes the subject of other column content unclear.</p>
                    </div>
                    <div class="comparison instead">
                        <img src="../media/comparisons/card-usage-isolation-do.jpg" alt="What to do with tiles">
                        <span>Instead</span>
                        <p>In this case, use native tile features. There are no nested elements, and the subject of all information is clear.</p>
                    </div>
                </div>
                <article>
                    <h4>Action cards and detail cards can be tiles, or live inside them.</h4>
                    <p>To create a tile with a card or place a card in a tile, use the <a class="component" href="../tiles/">tile</a> framework.  If a card will be the only content in a given tile, the tile can be created with the card itself.</p>
                    <xmp class="prettyprint">
<div class="cl-tiles thirds">
    <a class="cl-card">...</a>
    <a class="cl-card">...</a>
    ...
</div>           
                    </xmp>
                    <div class="cl-tiles thirds">
                        <a class="cl-card" href="#">
                            <img src="../media/native/uritoday_1.jpg" alt="URI Today 1">
                            <h1>A Great Story</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac hendrerit diam. Cras facilisis sem non magna placerat tincidunt. Ut id dolor aliquet, consectetur libero vitae, placerat mauris. Proin placerat tortor id est dignissim, a pulvinar metus blandit.</p>
                            <span class="cl-button">Read Story</span>
                        </a>
                        <a class="cl-card" href="#">
                            <img src="../media/native/uritoday_2.jpg" alt="URI Today 2">
                            <h1>Wait, There's More</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac hendrerit diam. Cras facilisis sem non magna placerat tincidunt. </p>
                            <span class="cl-button">Read Story</span>
                        </a>
                        <a class="cl-card" href="#">
                            <img src="../media/native/uritoday_3.jpg" alt="URI Today 3">
                            <h1>Third Time's A Charm</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac hendrerit diam. Cras facilisis sem non magna placerat tincidunt. Ut id dolor aliquet, consectetur libero vitae, placerat mauris.</p>
                            <span class="cl-button">Read Story</span>
                        </a>
                    </div>
                    <xmp class="prettyprint">
<div class="cl-tiles thirds">
    <div>
        ...
        <a class="cl-dcard">...</a>
        ...
    </div>
    <a class="cl-dcard">...</a>
    <a class="cl-dcard">...</a>
    ...
</div>           
                    </xmp>
                    <div class="cl-tiles thirds">
                        <div>
                            <h1>A Tile</h1>
                            <p>The card below is living in a tile, along with the header and this text.</p>
                            <a class="cl-dcard" href="#">
                                <img src="../media/commons/profile_3.jpg" alt="Profile 3">
                                <h1>Lorem ipsum</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p>401.555.0785</p>
                            </a>
                        </div>
                        <a class="cl-dcard" href="#">
                            <img src="../media/commons/profile_1.jpg" alt="Profile 1">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>401.555.7962</p>
                        </a>
                        <a class="cl-dcard" href="#">
                            <img src="../media/commons/profile_2.jpg" alt="Profile 2">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>401.555.3792</p>
                        </a>
                    </div>
                
                </article>

            </section><!-- end usage -->
            
            <section id="construction">
                <h2>Construction</h2>
                <h4>Cards are elevated.</h4>
                <p>Cards exist above the page, not on it.  A box shadow is used to achieve this appearance.</p>
                <article>
                    <div class="cl-tiles thirds">
                        <div class="comparison do">
                            <img src="../media/comparisons/card-usage-elevation-do.jpg" alt="What to do with elevation">
                            <span>Do</span>
                            <p>Use a box shadow to elevate the card.</p>
                        </div>
                        <div class="comparison dont">
                            <img src="../media/comparisons/card-usage-elevation-dont.jpg" alt="What not to do with elevation">
                            <span>Don't</span>
                            <p>This is not a card. There is no indication that the content exists above the page.</p>
                        </div>
                        <div class="comparison dont">
                            <img src="../media/comparisons/card-usage-elevation-dont-border.jpg" alt="What also not to do with elevation">
                            <span>Don't</span>
                            <p>Do not place a border around the content to emulate a card.  This content still exists on the page plane.</p>
                        </div>
                    </div>
                </article>
                
                <h4>Card elevation changes when hovering over and clicking them.</h4>
                <p>Increasing elevation upon hover and clicking provides the user with feedback for their actions and improves user experience.  Elevation changes are achieved with a box shadow and position shift.</p>
                <div class="cl-tiles thirds">
                    <div>
                        <h4>Resting</h4>
                        <ul class="construction-list">
                            <li class="section">Box shadow</li>
                            <li>x-offset: none</li>
                            <li>y-offset: 0.1rem</li>
                            <li>Blur radius: 0.3rem</li>
                            <li>Color: $black #000, 15% alpha</li>
                            <li class="section">Position</li>
                            <li>Top: 0px</li>
                        </ul>
                        <div class="cl-dcard">
                            <img src="../media/commons/profile_1.jpg" alt="Profile 1">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div>
                        <h4>Hovering</h4>
                        <ul class="construction-list">
                            <li class="section">Box shadow</li>
                            <li>x-offset: none</li>
                            <li>y-offset: 0.3rem</li>
                            <li>Blur radius: 1rem</li>
                            <li>Color: $black #000, 20% alpha</li>
                            <li class="section">Position</li>
                            <li>Top: -2px</li>
                        </ul>
                        <div class="cl-dcard" style="box-shadow: 0 .3rem 1rem rgba(0,0,0,.2); position: relative; top: -2px;">
                            <img src="../media/commons/profile_1.jpg" alt="Profile 1">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div>
                        <h4>Active</h4>
                        <ul class="construction-list">
                            <li class="section">Box shadow</li>
                            <li>x-offset: none</li>
                            <li>y-offset: 0.3rem</li>
                            <li>Blur radius: 1rem</li>
                            <li>Color: $black #000, 35% alpha</li>
                            <li class="section">Position</li>
                            <li>Top: -2px</li>
                        </ul>
                        <div class="cl-dcard" style="box-shadow: 0 .3rem 1rem rgba(0,0,0,.35); position: relative; top: -2px;">
                            <img src="../media/commons/profile_1.jpg" alt="Profile 1">
                            <h1>Lorem ipsum</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                
                <article>
                    <div class="cl-tiles halves">
                        <div>
                            <h3>Action Card</h3>
                            <h4>Dimensions</h4>
                            <ul class="construction-list">
                                <li class="section">Container</li>
                                <li>Border radius: 0.2rem</li>
                                <li class="section">Title</li>
                                <li>Top padding: 1.3rem</li>
                                <li>Side padding: 1.2rem</li>
                                <li>Line height: 1.6rem</li>
                                <li class="section">Paragraphs</li>
                                <li>First top padding: 1.2rem</li>
                                <li>Subsequent top padding: 1rem</li>
                                <li>Side padding: 1.2rem</li>
                                <li class="section">Button</li>
                                <li>Top margin: 2rem</li>
                                <li>Top border: 1px</li>
                                <li>Top padding: 1.5% card width + 1rem</li>
                                <li>Bottom padding: 1.5% card width + 1rem</li>
                            </ul>
                            <h4>Typography</h4>
                            <ul class="construction-list">
                                <li class="section">Title</li>
                                <li>Font size: 1.3rem</li>
                                <li>Line height: 1.6rem</li>
                                <li class="section">Paragraph</li>
                                <li>Font size: 0.8rem</li>
                                <li>Line height: 1.5rem</li>
                                <li class="section">Button</li>
                                <li>Font size: 0.7rem</li>
                                <li>Tracking: 0.1rem</li>
                            </ul>
                        </div>
                         <div>
                            <img src="../media/constructions/card-construction.jpg" class="figure" style="max-width: 477px;" alt="Action card construction">
                        </div>
                    </div>
                </article>
            
            </section><!-- end construction -->
            
        </main>
                
        <footer id="globalfooter">
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>