<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Heros - Components - Digital Content Style Guide</title>
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="../uri-component-library/js/cl.built.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-heros">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1>Heros</h1>
            <!--<img class="wireframe right" src="../media/wireframes/heros.svg" alt="Heros">-->
            <p>Heros description</p>
            
            <ul id="localnav">
                <li><a href="#design">Design</a></li>
            </ul>
            
            <section id="design">
                
                <h2>Design</h2>
                <p>Heros are implemented with the id <code class="id">hero</code></p>
                <article>
                    <div id="hero">
                        <div id="heromask">
                            <h1>Success starts here.</h1>
                        </div>
                        <img id="ydD1Wg2B8Vk" class="youtube" src="../media/commons/hero_vid_poster.jpg">
                    </div>
                </article>
                
            </section>
            
        </main>
                
        <footer>
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>