<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Heros - Components - Digital Content Style Guide</title>
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="../uri-component-library/js/cl.built.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-heros">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1>Heros</h1>
            <!--<img class="wireframe right" src="../media/wireframes/heros.svg" alt="Heros">-->
            <p>Heros description</p>
            
            <ul id="localnav">
                <li><a href="#design">Design</a></li>
            </ul>
            
            <section id="design">
                
                <h2>Design</h2>
                <p>Heros are implemented with the class <code class="class">hero</code></p>
                <h4>For video heros, an overlay and poster image are required.</h4>
                <p>Create an overlay with the class <code class="class">overlay</code>, and a poster with the class <code class="class">poster</code>.</p>
                <p>The poster's <code class="attr">id</code> attribute is used to determine which YouTube video to load, based on the video id.  For example, if the YouTube URL is <code class="link">https://www.youtube.com/watch?v=ydD1Wg2B8Vk</code>, create the poster with the id <code class="id">ydD1Wg2B8Vk</code>.</p>
                <xmp class="prettyprint">
<div class="hero">
    <div class="overlay"></div>
    <img id="[video id]" class="poster" src="poster.jpg">
</div>
                </xmp>
                
                <div class="hero">
                    <div class="overlay"></div>
                    <img id="aK9iLeL5l_c" class="poster" src="../media/commons/hero_vid_poster.jpg">
                </div>
                
                <article>
                    <p>In its most basic form, the overlay prevents any user interaction with the video.  The overlay <code class="tag">&lt;div&gt;</code> can be empty, or it can contain a block of content as described below. The poster is a placeholder for the video in the event that the video cannot be loaded.  The poster is replaced by the video.</p>
                    <h4>Add overlay content.</h4>
                    <p>To overlay content, such as a headline, subheading, and button, create a content block inside the overlay using the class <code class="class">block</code>.  The content will appear superimposed on the video.</p>
                    <xmp class="prettyprint">
<div class="hero">
    <div class="overlay">
        <div class="block">
            <h1>Headline</h1>
            <p>Subheading</p>
            <a class="button" href="#">Button</a>
        </div>
    </div>
    <img id="[video id]" class="poster" src="poster.jpg">
</div>
                    </xmp>                
                    <div class="hero">
                        <div class="overlay">
                            <div class="block">
                                <h1>Small state.  Global impact.</h1>
                                <p>Think big at the University of Rhode Island</p>
                                <a class='button' href="#">Explore</a>
                            </div>
                        </div>
                        <img id="K4YDMmWBac4" class="poster" src="../media/commons/hero_vid_poster.jpg">
                    </div>
                </article>
                
                
                <article>
                    <h4>Set custom start and/or end times.</h4>
                    <p>By default, heros play the entire linked video, and loop indefinitely.  To loop a portion of the video, set <code class="attr">data-start</code> and/or <code class="attr">data-end</code> attributes in number of seconds from the beginning of the video.</p>
                    <xmp class="prettyprint">
<div class="hero">
    <div class="overlay">
        <h1>Hero title</h1>
    </div>
    <img id="[video id]" class="poster" src="poster.jpg" data-end="30">
</div>
                    </xmp>
                    
                </article>

                
            </section>
            
        </main>
                
        <footer>
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>