<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notices - Components - Digital Content Style Guide</title>
        <link rel="icon" type="image/png" href="../media/assets/favicon.png">
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-notices">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1>Notices</h1>
            <p>Notices are full-width banners that display a short amount of temporary, time-sensitive content.</p>
            
            <ul id="localnav">
                <li><a href="#usage">Usage</a></li>
            </ul>
            
            <section id="usage">
                <h2>Usage</h2>
                <p>Notices are implemented with the class <code class="class">cl-notice</code></p>
                <xmp class="prettyprint">
<div class="cl-notice">
    <h1>Title</h1>
    <p>Body</p>
</div>
                </xmp>
                <div class="cl-notice">
                    <h1>Announcement</h1>
                    <p>There's something going on <a href="#">next week</a> you should know about.</p>
                </div>
                <article>
                    <p>To display a more critial notice, add the class <code class="class">urgent</code></p>
                    <xmp class="prettyprint">
    <div class="cl-notice urgent">
        <h1>Title</h1>
        <p>Body</p>
    </div>
                    </xmp>
                    <div class="cl-notice urgent">
                        <h1>Critical Deadline</h1>
                        <p>The deadline for submissions is tomorrow, after that you're doomed! <a href="#">Submit now</a></p>
                    </div>
                </article>
                
                 <article>
                    <h4>Shortcode Support</h4>
                    <p>Notices can be implemented with the shortcode <code class='shortcode'>cl-notice</code></p>
                    <p class="code shortcode">[cl-notice title="Alert"]The notice content.[/cl-notice]</p>
                    <div class="attributes">
                        <h5>Attributes</h5>
                        <p><b>title</b> <i>(string) (optional)</i></p>
                        <p class='indent'>The title of the notice</p>
                        <p><b>urgent</b> <i>(bool) (optional)</i></p>
                        <p class='indent'>Set to style the notice as urgent<br /><i>(default value: <code class='bool'>false</code>)</i></p>
                    </div>
                </article>
                
                <article class="wysiwyg">
                    <h4>WYSIWYG Editor Support</h4>
                    <p>With the <a href="../plugin/" class="component">WYSIWYG</a> plugin installed, notices can be added using the WYSIWYG editor.</p>
                    <p>The icon <img src="../media/wysiwyg/icons/notice.png" class="icon" alt="Notice WYSIWYG toolbar icon"> to add a notice appears in the WYSIWYG toolbar.  Clicking this icon opens a dialogue where different notice attributes can be easily set.</p>
                    <img src="../media/wysiwyg/notice.png" class="editor" alt="Notice WYSIWYG editor dialogue">
                    <p>The completed notice will appear fully styled in the editor window.  To edit it, simply double-click the notice to reopen the editor dialogue.</p>
                </article>
                
            </section>
            
        </main>
                
        <footer id="globalfooter">
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>