<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Panels - Components - Digital Content Style Guide</title>
        <link rel="stylesheet" type="text/css" href="../css/playground.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:400,700|Roboto+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-panels">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>$('nav').load('../includes/nav.html');</script>
        </nav>
            
        <main>
            
            <h1>Panels</h1>
            <!--<img class="wireframe right" src="../media/wireframes/panels.svg" alt="Panels">-->
            <p>Panels description</p>
            
            <ul id="localnav">
                <li><a href="#design">Design</a></li>
            </ul>
            
            <section id="design">
                
                <h2>Design</h2>
                <p>Panels are constructed of two panes, one displaying text and the other displaying an image.  The panes sit side-by-side when space allows, and stack at narrow browser widths.  Panels are top level components, so they cannot live in tiles, and require an image.</p>
                <p>Panels are implemented with the class <code class="class">panel</code></p>
                <xmp class="prettyprint">
<div class="panel">
    <figure>
        <img>
    </figure>
    <article>
        <h1>Title</h1>
        <p>Paragraph text.</p>
        <a class="button" href="">Button</a>
        ...
    </article>
</div>                       
                </xmp>
                <div class="panel">
                    <figure>
                        <img src="../media/native/hero_1.jpg" alt="Card Hero 1">
                    </figure>
                    <article>
                        <h1>Lorem Ipsum Dolor</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae erat blandit dui ultrices cursus in vel odio. Phasellus molestie ultricies pulvinar. Nullam malesuada libero a nibh tristique ultricies.</p>
                        <p>Vivamus elementum metus massa, et molestie nisl porttitor ac. Suspendisse nec mi ante. In sed dictum quam. Morbi in nulla fermentum, semper enim in, rhoncus diam. Integer lobortis dictum faucibus.</p>
                        <a class="button" href="#">Learn More</a>
                    </article>
                </div>
                <p>Note that the image must be nested in <code class="tag">&lt;figure&gt;</code> tags. In the full-width layout, the height of the figure is dependent on the height of the article, and image covers the figure.  At narrow widths, the figure is stacked on top of the article, and the image is not cropped.</p>
                <h4>Panel panes can be swapped</h4>
                <p>By default, the left pane displays text and the right pane displays an image.  The layout can be reversed by adding the class <code class="class">reverse</code> to the panel. This will not change how the panes behave at narrow browser widths.</p>
                <p>Note that the figure block must always come before the article block, regardless of layout.</p>
                <xmp class="prettyprint">
<div class="panel reverse">
    <figure>
        <img>
    </figure>
    <article>
        ...
    </article>
</div>                       
                </xmp>
                <div class="panel reverse">
                    <figure>
                        <img src="../media/native/hero_1.jpg" alt="Card Hero 1">
                    </figure>
                    <article>
                        <h1>Lorem Ipsum Dolor</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae erat blandit dui ultrices cursus in vel odio. Phasellus molestie ultricies pulvinar. Nullam malesuada libero a nibh tristique ultricies.</p>
                        <p>Vivamus elementum metus massa, et molestie nisl porttitor ac. Suspendisse nec mi ante. In sed dictum quam. Morbi in nulla fermentum, semper enim in, rhoncus diam. Integer lobortis dictum faucibus.</p>
                        <a class="button" href="#">Learn More</a>
                    </article>
                </div>
                 <h4>Shortcode Support</h4>
                <p>Panels can be implemented with the shortcode <code class='shortcode'>cl-panel</code></p>
                <p class="code shortcode">[cl-panel title="A Great Panel" img="sampleimage.jpg"]Some body text.[/cl-panel]</p>
                <p>The panel shortcode wraps the content in <code class="tag">&lt;p&gt;</code> tags.  To include multiple paragraphs, place <code class="tag">&lt;/p&gt;&lt;p&gt;</code> between each one.</p>
                <p class="code shortcode">[cl-panel title="A Great Panel" img="sampleimage.jpg"]This is the first paragraph.&lt;/p&gt;&lt;p&gt;This is the second paragraph.&lt;/p&gt;&lt;p&gt;Why not a third?[/cl-panel]</p>
                <h5>Attributes</h5>
                <p><b>img</b> <i>(string) (required)</i></p>
                <p class='indent'>The source URL for the image</p>
                <p><b>alt</b> <i>(string) (optional)</i></p>
                <p class='indent'>Set alternate text for the image<br /><i>(default value: none)</i></p>
                <p><b>title</b> <i>(string) (optional)</i></p>
                <p class='indent'>The text for a title<br /><i>(default value: none)</i></p>
                <p><b>reverse</b> <i>(bool) (optional)</i></p>
                <p class='indent'>Set to reverse the panel layout<br /><i>(default value: <code class="bool">false</code>)</i></p>
            </section>
            
        </main>
                
        <footer>
            <script>$('footer').load('../includes/footer.html');</script>
        </footer>
        
    </body>
    
</html>