<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Videos - Components - Digital Content Style Guide</title>
        <link rel="icon" type="image/png" href="../media/assets/favicon.png">
        <link rel="stylesheet" type="text/css" href="../css/playground.built.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <script src="../js/playground.built.js"></script>
        <script src="../uri-component-library/js/cl.built.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-videos">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>loadTemplatePart('../includes/nav.html', 'nav', menuControl);</script>
        </nav>
            
        <main>
            
            <h1 class="page-title">Videos</h1>
            <img class="wireframe right" src="../media/wireframes/videos.svg" alt="Videos">
            <p class="type-intro">Videos are custom YouTube embeds that have minimal YouTube branding and do not show video annotations.  They maintain their aspect ratio regardless of browser size or page placement, eliminating letterboxing.</p>
            
            <ul id="localnav">
                <li><a href="#design">Design</a></li>
                <li><a href="#usage">Usage</a></li>
            </ul>
            
            <section id="design">
                
                <h2>Design</h2>
                <p>Videos are implemented with the class <code class="class">cl-video</code></p>
                <p>Videos require a poster image.  Create a poster with the class <code class="class">poster</code>.  The poster is a placeholder for the video in the event that the video cannot be loaded.  The poster is replaced by the video.</p>
                <p>The poster <b>must also</b> have an <code class="attr">id</code> attribute.  It can be arbitrary, but it is necessary for YouTube's API to function.</p>
                <p>The poster's <code class="attr">data-id</code> attribute is used to determine which YouTube video to load, based on the video id.  For example, if the YouTube URL is <code class="link">https://www.youtube.com/watch?v=nHlHUqevKcg</code>, create the poster with a <code class="attr">data-id</code> of <code class="id">nHlHUqevKcg</code>.</p>
                <xmp class="prettyprint">
<div class="cl-video">
    <img id="video1" data-id="[video id]" src="poster.jpg">
</div>
                </xmp>
                
                <div class="cl-video">
                    <img id="demovideo1" data-id="nHlHUqevKcg" src="../media/assets/video-default.jpg">
                </div>
                
                <article id="design-overlay">
                    <h4>Overlay</h4>
                    <p>To overlay a title and/or an excerpt, create a content block using the class <code class="class">overlay</code> before the <code class="tag">img</code> tag.</p>
                    <p>The overlay will disappear when the user plays the video, and reappear when the video is paused or ends.</p>
                    <xmp class="prettyprint">
<div class="cl-video">
    <div class="overlay">
        <h1>Title</h1>
        <p>Excerpt</p>
    </div>
    <img id="video1" data-id="[video id]" src="poster.jpg">
</div>
                    </xmp>

                    <div class="cl-video">
                        <div class="overlay">
                            <h1>Why the University of Rhode Island?</h1>
                            <p>Think Big.  It's what we do every day at URI.</p>
                        </div>
                        <img id="demovideo2" data-id="YdAG-ZAIVDc" src="../media/assets/video-default.jpg">
                    </div>
                </article>
                
                <article id="design-ratios">
                    <h4>Set custom aspect ratios.</h4>
                    <p>Videos assume a default aspect ratio of 16:9.  To specifiy a different aspect ratio, so that the video does not have vertical or horizontal black bars, set a <code class="attr">data-aspect</code> attribute on the poster using the format <code class="string">width:height</code>.</p>
                    <xmp class="prettyprint">
<div class="cl-video">
    <img id="[video id]" src="poster.jpg" data-aspect="4:3">
</div>
                    </xmp>
                </article>
                
                <article id="design-shortcode">
                    <h4>Shortcode Support</h4>
                    <p>Videos can be implemented with the shortcode <code class='shortcode'>cl-video</code></p>
                    <p class="code shortcode">[cl-video id="video1" vid="aK9iLeL5l_c" img="sampleimage.jpg"]</p>
                    
                    <div class="attributes">
                        <h5>Attributes</h5>
                        
                        <p><b>id</b> <i>(string) (required)</i></p>
                        <p class='indent'>Set a unique id for the element</p>
                        
                        <p><b>vid</b> <i>(string) (required)</i></p>
                        <p class='indent'>The YouTube video ID</p>

                        <p><b>img</b> <i>(string) (required)</i></p>
                        <p class='indent'>The source URL for the poster image</p>

                        <p><b>alt</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set alt text for the poster image</p>
                        
                        <p><b>title</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set a title to be overlaid when the video is not playing</p>
                        
                        <p><b>excerpt</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set an excerpt to be overlaid when the video is not playing</p>
                        
                        <p><b>aspect</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set to specify an aspect ratio other than 16:9<br /><i>(default value: none)</i></p>
                        
                        <p><b>class</b> <i>(string) (optional)</i></p>
                        <p class='indent'>Set custom CSS class(es)<br /><i>(default value: none)</i></p>
                    </div>
                </article>
                
                <article id="design-wysiwyg" class="wysiwyg">
                    <h4>WYSIWYG Editor Support</h4>
                    <p>With the <a href="../plugin/" class="component">WYSIWYG</a> plugin installed, videos can be added using the WYSIWYG editor.</p>
                    <p>The icon <img src="../media/wysiwyg/icons/video.png" class="icon" alt="Video WYSIWYG toolbar icon"> to add a video appears in the WYSIWYG toolbar.  Clicking this icon opens a dialogue where different video attributes can be easily set.</p>
                    <img src="../media/wysiwyg/video.png" class="editor" alt="Video WYSIWYG editor dialogue">
                    <p>The completed video will appear fully styled in the editor window.  To edit it, simply double-click the video to reopen the editor dialogue.</p>
                </article>
                
            </section>
            
            <section id="usage">
                <h2>Usage</h2>
                <h4>Videos can be tiles, or live inside them.</h4>
                <xmp class="prettyprint">
<div class="cl-tiles thirds">
    <div class="cl-video">
        <img id="[video id]" src="poster.jpg">
    </div>
    <div class="cl-video">
        <img id="[video id]" src="poster.jpg">
    </div>
    ...
</div>
                </xmp>
                <div class="cl-tiles thirds">
                    <div class="cl-video">
                        <img id="demovideo3" data-id="N4Ipqca9scU" src="../media/assets/video-default.jpg">
                    </div>
                    <div class="cl-video">
                        <img id="demovideo4" data-id="edcPdZfi5X8" src="../media/assets/video-default.jpg">
                    </div>
                    <div class="cl-video">
                        <img id="demovideo5" data-id="nptwT57w12U" src="../media/assets/video-default.jpg">
                    </div>
                </div>
                
            </section>
            
        </main>
                
        <footer id="globalfooter">
            <script>loadTemplatePart('../includes/footer.html', 'footer');</script>
        </footer>
        
    </body>
    
</html>