.cl-card, .cl-card:visited {
	text-decoration: none !important;
}
.cl-card.has-focus h3, .cl-card.has-focus p {
	outline: 1px solid #ccc;
	margin-bottom: 1rem;
	padding: .5em;
}

.cl-card.has-focus .blocks-rich-text {
	margin-bottom: 1rem;
}

.cl-card.has-focus label {
	display: block;
	font-weight: bold;
}

.select-image, .cl-card.has-focus .image-button {
	background-color: #1486B8cc;
	border-radius: 2px;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	padding: .5rem;
	position: relative;
	width: 160px;
	color: #fff;
}

.cl-card.has-focus .image-button {
	margin: -3rem auto 1rem;
}