/* ======= DEPARTMENT THEME PATCHES ======= */

$library: '.cl-tiles, .cl-card, .cl-dcard, .cl-boxout, .cl-panel';


#{$library} {
    
    p {
        margin-bottom: 0;
    }
    
}


#mainpage .subcol {
    
    #{$library} {
        
        p {
            font-size: .8rem;
            line-height: 1.5;
            margin-bottom: 0;
            padding-top: 1rem;
            color: inherit;
        }
        
    }
    
}