@import "../../../src/sass/variables";
@import "../../../src/sass/buttons";
@import "../../../src/sass/boxouts";
@import "../../../src/sass/cards";


textarea {
	background-color: inherit !important;
	border-radius: 0;
}

/** This would hide drop caps but probably everywhere. **/
// .blocks-font-size .components-toggle-control {
// 	display: none;
// }

.cl-button-block-form {

	vertical-align: middle;

	.cl-button {
		text-transform: uppercase;
	}
	.cl-button, .cl-button:visited {
		text-decoration: none !important;
	}
	
	label {
		color: $midgrey;
	}

	label,
	.editor-url-input {
		display: inline;
	}
	
	textarea {
		text-align: center;
	}
	textarea:focus {
	}


}

.cl-card-block-form {
	textarea.cl-button {
		border-radius: 0;
		color: $black !important;
	}
}

.cl-hero-block-form {
	color: #fff;
	
	h1 {
		color: #fff;
		margin: 0;
		textarea, textarea:focus, textarea::placeholder {
			color: #efe !important;
		}
	}
	
	.subtitle {
		color: #efe !important;
		margin: 1rem 0;
	}
	
	.overlay, .block {
		height: auto;
		position: relative;
	}
	
	.block {
		border: 1px solid red;
	}

	.poster {
		border: 1px solid green;
	}

}