@import "../../../src/sass/variables";
@import "../../../src/sass/buttons";
@import "../../../src/sass/boxouts";
@import "../../../src/sass/cards";
@import "../../../src/sass/metrics";

@keyframes metaReveal {
	from { transform: rotateX(90deg); 	transform-origin: top; }
	to   { transform: rotateX(0deg); 	transform-origin: top; }
}

.editor-styles-wrapper {
	line-height: 1.2;
}

textarea {
	background-color: inherit !important;
	border-radius: 0;
}

.components-placeholder.editor-media-placeholder {
	.components-placeholder__instructions {
		font-size: .875rem;
		margin: .5rem;
	}
}

.block-editor {
	.meta {
		animation: metaReveal .5s;
		background-color: #ddd;
		border-top: 2px solid #057fd4;
		margin-top: .5rem;
		min-width: 300px;
		position: absolute;
		padding: .5rem 0 .75rem;
		z-index: 10;
		.row {
			margin-left: .5rem;
			margin-right: .5rem;
		}
		&:before {
			content: ' ';
			display: block;
			left: 2rem;
			position: absolute;
			top: -12px;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid #057fd4;

		}

		.link {
			label {
				float: left;
				margin-right: .5em;
				svg {
					margin-left: .25em;
					margin-top: .5em;
				}
			}
			input {
				width: auto;
			}
		}

	}
	.cl-card+.meta {
		top: -2rem;
	}

	/* @todo: temporary styles that belong in the theme */
	.cl-button textarea, textarea.cl-button {
		border-radius: 0;
		font-family: "Hind", sans-serif !important;
		text-transform: uppercase;
		background-color: transparent !important;
	}
	.editor-styles-wrapper p {
		font-family: Charter, Georgia, serif;
	}

	/** TABS **/
	.cl-tab {
		border: 1px dashed #ddd;
		border-width: 1px 0;
	}

	/** QUOTES **/
	.cl-quote {
		cite textarea {
			max-width: 50%;
			position: relative;
			top: .375rem;
			text-align: center;
		}
		blockquote textarea {
			text-align: center;
		}
		.cl-quote-image img {
			border-radius: 50%;
		}
		.editor-media-placeholder {
			display: none;
		}
		&.selected {
			.editor-media-placeholder {
				display: block;
			}
		}
	}

	.editor-styles-wrapper .cl-quote cite:before {
		display: none;
	}

	/** METRICS **/
	.cl-metric textarea, .cl-metric span {
		text-align: center;
	}
	.cl-metric.right, .cl-metric.left {
		position: relative;
		width: 35%;
		z-index: 5;
	}
	.cl-metric.dark textarea {
		color: #fff;
	}


	.cl-boxout.right, .cl-boxout.left, .cl-card.right, .cl-card.left {
		position: relative;
		z-index: 5;
	}

	/** BUTTONS **/
	.cl-button {
		// @todo: don't repeat button styles here
		font-size: .85rem;
		font-weight: 700;
		padding: 1rem;
		text-transform: uppercase;
		textarea {
			border-radius: 0;
			color: $black;
			display: block;
			height: 1rem;
			letter-spacing: .1rem;
			margin: 0;
			padding: 2px 0 0;
			text-align: center;
		}
		&.prominent textarea, &:hover textarea {
			color: #fff;
		}
		&.disabled textarea {
			color: rgba(0,0,0,0.4);
			font-weight: 400;
		}
	}
	.cl-button, .cl-button:visited {
		text-decoration: none !important;
	}


	/** CARDS **/
	.cl-card {
		overflow: visible !important;
		.editor-media-placeholder {
			display: none;
		}
		&.selected {
			.editor-media-placeholder {
				display: block;
			}
		}
		.cl-card-text div {
			font-size: 1rem;
		}
		.cl-card-text>div {
			margin-bottom: 2rem;
		}
		&:hover {
			.cl-button {
				background-color: #005eff !important;
			}
		}
	}

	/** HEROES **/

	.cl-hero {

		background-color: #fff;
		overflow: initial;
		h1, h1 textarea:focus {
			color: #fff;
			textarea::placeholder {
				color: #fff;
			}
		}
		.subhead {
			margin: 0 0 2rem;
		}

		&.selected {
			margin-bottom: 3rem;
		}
		&.no-image {
			background-color: #002147;
			.poster {
				color: #fff;
				height: auto;
				position: relative;
				z-index: 20;
			}
			.overlay, .block {
				bottom: 0;
				height: auto;
				padding-bottom: 5rem;
				position: relative;
			}
		}
		&.has-image {
			.poster {
				img {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.cl-button:hover textarea {
			color: #005eff;
		}


		/* Sizes in the block editor */
		/* these are WP's block defaults, we honor them for regular heroes */
		max-width: 610px;
		margin-left: auto;
		margin-right: auto;
		&.super, &.fullwidth {
			/* we override the default block width for full-width and full-screen heroes */
			max-width: 100%;
			left: 0;
			margin-left: -35vw !important;
			margin-right: 0;
			width: 70vw !important;
		 	.meta {
				max-width: 400px;
			}
		}
		&.super {
			h1, textarea, .subhead {
				text-align: center;
			}
			.meta {
				margin-left: auto;
				margin-right: auto;
			}
		}

	}


	/** PANELS **/

	// Disable superpanel blur in the editor for performance reasons
	@supports ( filter: blur(0) ) {
	  .editor-styles-wrapper .cl-panel-super .cl-panel-super-blur {
			background: #333;
			filter: initial;
		}
	}


}



/** This would hide drop caps but probably everywhere. **/
// .blocks-font-size .components-toggle-control {
// 	display: none;
// }


// .edit-post-visual-editor div[data-type="uri-cl/hero"] {
//	max-width: 100%;
// }
